@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700');
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');

/* =======================================
1. Basic & general
======================================== */

::-moz-selection {
  color: #fff;
  text-shadow: none;
}
::selection {
  color: #fff;
  text-shadow: none;
}

body {
  margin: 0;
  padding:0;
  font-family: Arial, Tahoma, Verdana, Sans-serif;
  font-size: 14px;
  height:100%;
  line-height: 1.6em;
  color: #666;
  background: url("/static/img/paper-bg.jpg")

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.1em;
	color: #3a3a3a;
	font-weight:300;
	margin-bottom:10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}


.fade{
    position: relative;
	opacity:1;
}
section {
	padding:120px 0 40px 0;
}

iframe, embed, object {
	border:none;
}

.video-container,.map-container,.embed-container 	{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
.video-container iframe,
.embed-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.embed-container object,
.embed-container embed,
.video-container object,  
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }


blockquote {
  display: inline-block;
  padding-left: 18px;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 27px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 10px solid #000;
}

.container{
	padding: 0 20px 0 20px;
}

.row{
	margin-bottom:40px;
}

.row .row, .row-fluid .row{
	margin-bottom:0;
}

.clear { clear:both; }

/* ==== heading ==== */

.heading {
	text-align:center;
	width:100%;
}

.heading h3{
	text-transform:uppercase;
	padding:0;
	margin:20px 0 30px 0;
	font-size:40px;
	font-weight:700;
	text-align:center;
	text-shadow: 0 1px 0 #ffffff;	
	border-bottom:3px double #333;
	width:auto;
	display:inline;
}

section.dark .heading h3{
	color:#fff;
	text-shadow: 0 1px 0 #3a3a3a;	
	border-bottom:3px double #eee;
	width:auto;
	display:inline;
	
	
}

/* sub heading */

.sub-heading {
	text-align:center;
	margin:20px 0 20px 0;
}

.sub-heading p {	
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	line-height:1.6em;
	color: #3a3a3a;
	font-weight:200;
}

section.dark .sub-heading p {	
	color: #e9e9e9;
}

/* =======================================
1. Header
======================================== */
header{
	position:relative;
}

header .logo {
	float:left;
	margin:5px 0 0;
}

/* --- menu --- */

.navigation {
	margin:30px 0 0;
}

.navbar {
	margin:0;
}

.navbar .nav {
  margin: 0 0 0 0;

}

.navbar .nav > li > a {
  float: none;
  color: #fff;
	line-height:1em;
  text-decoration: none;
  text-shadow:none;
   z-index:100;
	outline:0;
	font-weight:bold;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  text-decoration: none;
  color:#fff; 
  background-color: transparent;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar .nav > .current {
  color:#fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.navbar .nav > .current a:focus, .navbar .nav > .current a:hover  {
  color:#fff;
}

.navbar .nav li.dropdown > a:hover .caret {
  text-shadow: none;
}

.navbar .nav li.dropdown a {
	margin-top: -1px;
}

.navbar .nav li.dropdown.current a {
	padding-right:5px;
}



.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar .searchform {
	width: 550px;
	float:left;
	margin-left:50px;
	margin-top:37px;
}
div.useroptions{
	width:320px;
	margin-top:8px;
	float:right;
	position:absolute;
	right:70px;
}

h2.sectionheader{
	text-align:center;
	position:relative;
	text-transform: uppercase;
	padding: 0;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;

}
h2.sectionheaderviewall{
	text-align:center;
	position:relative;
	text-transform: uppercase;
	padding: 0;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom:30px;


}
button.buttonnav{
	width:100px;
	height:33px;
}
button.buttonnavleft{
	position:absolute;
	left:0px;
}
button.buttonnavright{
	position:absolute;
	right:0px;

}
a.viewall{

}
h5.noitemsfound{
	text-align:center;
	margin-top:50px;
	padding-bottom:50px;
}
div.viewallcontainer{
	width:100%;
	text-align:center;
}
div.featuredcontainer{
	width:960px;
	height:	500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}
#mainsearchbar {
	margin-left: 20px;
	margin-right: 5px;
	height:0px;
	padding:14px 0px 14px 4px;
	border-radius: 4px;
	width: 40%;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-shadow:none;
  text-decoration: none;
}

ul.nav li ul.dropdown-menu {
	margin-top:20px;
}

.default {
	background:#010101;
	border-bottom:1px solid #222;
}



.fixed {
	position: fixed;
	background:#2a2a2a;
	border:none;
	top:0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
}

nav select {
	display:none;
}

/* =======================================
2. Section: Intro
======================================== */



section#intro{
	background: url(../img/bg/bg-1.jpg) 50% 0 no-repeat fixed;
	position:relative;
	width:100%;
	height:auto;
	margin:0;
	padding:240px 0 120px;
}

section#intro.inner {
	padding:140px 0 30px;
}

section#intro.inner h2 strong  {
	color:#fff;
}
section#intro.inner h2  {
	font-size:32px;
}


section#intro  {
	text-align:center;
}

section#intro i  {
	margin-left:0;
	text-align:center;
}

section#intro h1  {
	color:#fff;
	font-size:64px;
	font-weight:700;
}
section#intro h2  {
	color:#ddd;
	font-size:24px;
}

/* === slogan === */
.slogan i {
	color:#fff;
}


section#intro .inner-heading h2 {
	margin-bottom:-20px;
}

section#intro h4.subtitle  {
	font-family: Arial, Tahoma, Verdana, Sans-serif;
	text-transform:none;
	color:#f8f8f8;
}

section#intro p  {
	color:#f8f8f8;
}


/* ==== general main content style ==== */
#maincontent.section {
	padding:30px 0 40px 0;
}


/* =======================================
3. Section: About
======================================== */
.roles {
	text-align:center;
}

ul.social-profile {
	list-style:none;
	margin-left:0;
}

ul.social-profile li {
	display:inline;
}

ul.social-profile li a:hover {
	text-decoration:none;
}


/* =======================================
3. Section: Services
======================================== */

.box {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background: #fefefe;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.box .halftop {
	text-align:center;
	border-bottom:1px dotted #e9e9e9;
	padding-bottom:10px;
	margin-bottom:20px;
}
.box i {
	margin:0;
	
	text-align:center;
	color:#333;
}


/* ==== divider ==== */
.solid_line {
  padding:0;
  margin:20px 0 20px 0;
  width:100%;
  height:1px;
  border-top: 1px solid #eeeeee;
}

.dotted_line {
  padding:0;
  margin:20px 0 20px 0;
  width:100%;
  height:1px;
  border-bottom: 1px dotted #eeeeee;
}



/* scroll to top */
.scrollup{
    position:fixed;
	width:48px;
	height:48px;
    bottom:20px;
    right:20px;
}

a.scrollup {
	outline:0;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i:hover {
	text-decoration:none;
}



/* progress bar */

.bar.bar80 {
	width:80%;
}
.bar.bar70 {
	width:70%;
}
.bar.bar65 {
	width:65%;
}
.bar.bar60 {
	width:60%;
}
.bar.bar55 {
	width:55%;
}
.bar.bar50 {
	width:50%;
}
.bar.bar45 {
	width:45%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar35 {
	width:35%;
}
.bar.bar30 {
	width:30%;
}
.bar.bar25 {
	width:25%;
}
.bar.bar20 {
	width:20%;
}
.bar.bar15 {
	width:15%;
}
.bar.bar10 {
	width:10%;
}

/* ============ font awesome icons ===================== */

ul.the-icons {
	list-style:none;
	margin-left:0;
}

[class^="icon-"],
[class*=" icon-"] {
    float:none;
	
}

.icon-square,
.icon-rounded,
.icon-plain,
.icon-circled {
    margin: 10px 10px 10px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 18px;
    height: 18px;
	padding:3px;
    font-size: 12px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
}

.icon-rounded  {
    background-color: #444;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.icon-circled {
    background-color: #444;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.icon-square {
    background-color: #444;
}
.icon-plain {
    width: 48px;
    height: 48px;
    font-size: 47px;
    line-height: 50px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

.icon-plain:hover { color: #777; }

/* circled radius */
.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-32.icon-circled {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
}
.icon-64.icon-circled {
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
.icon-128.icon-circled {
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
}

.icon-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}


.icon-rounded:hover,
.icon-circled:hover {
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

.demoicon [class^="icon-"],
.demoicon [class*=" icon-"],
[class^="icon-"].left,
[class*=" icon-"].left {
    float:left;
}
[class^="icon-"].active:hover,
[class*=" icon-"].active:hover {
    background-color: rgba(0, 0, 0, 0.75);	
}
[class^="icon-"],
[class*=" icon-"] {
  margin-top: 1px;
  margin-right: .3em;
}

/* custom size */
.icon-32 {
    width: 20px;
    height: 20px;
	padding:6px;
    font-size: 16px;
    line-height: 20px;
}
.icon-48 {
    width: 32px;
    height: 32px;
	padding:8px;
    font-size: 28px;
    line-height: 30px;
}
.icon-64 {
    width: 40px;
    height: 40px;
	padding:12px;
    font-size: 30px;
    line-height: 40px;
}
.icon-128 {
    width: 56px;
    height: 56px;
	padding:36px;
    font-size: 54px;
    line-height: 60px;
}





/* boxed */


.boxed h3{
	margin-bottom:0;
}

.boxed h4{
	color:#a9a9a5;
	font-size: 20px;
	text-shadow: 0 1px 0 #ffffff;
	margin-bottom:10px;
}

.offer-box{
	width:20.95%;
	padding:2%;
	float:left;
	background:#000000;
	border-left:1px solid #fff;
	color:#cbcbcb;
}

.offer-box h3, .offer-box h4{
	color:#fff;
	border-bottom:1px solid #fff;
	padding-bottom:15px;
}

.offer-box-first{
	border-left:none;
}

.special-box{
	color:#fcfcfc;
	position:relative;
	border-left:none;
}

.special-box:after{
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	top:0;
	right:-40px;
	width:0;
	height:0;
	border-width:0 0 30px 40px ;
	border-style:solid;
}


/* ================= About ============================= */



/* carousel slider */

/* ================= services ============================ */
section#services {
	background: url(../img/bg/bg-1.jpg) 50% 0 no-repeat fixed;
	width:100%;
	height:auto;
	margin:0;
}

#services .headline h3 {
	color:#fff;
}

#services .section-intro p {
	color:#f8f8f8;
}

.service-intro{
	width:100%;
	margin:30px 0 30px 0;
	padding-top:20px;
	text-align:center;
}

.service-intro h3{
	font-size:64px;
	margin-bottom:0;
}

/*========== works ==================*/

ul.filter {
	list-style:none;
	margin-left:0;
	margin-bottom:20px;
}

ul.filter li {
	float:left;
	margin-right:10px;
}

ul.filter li.active a{
	text-shadow:none;
	color:#fff;
	background: #1b1b1b;
}

.portfolio-area{
	float: left;
	width:100%;
	margin:0;
	padding:0;
	margin-top:20px;
}

.portfolio-area li{
	float: left;
	list-style:none;
	margin:0 0 30px 0;
	padding:0;
}

.portfolio-area li h4{
	margin-top:10px;
}

.portfolio-area li.portfolio-item h4{
	margin-top:0;
}


.portfolio-area .thumbnail {
  display: block;
  padding:0;
  border:none;
}

.portfolio-area .thumbnail h5 strong {
	margin:0;
	color:#fff;
}


.portfolio-area .image-wrapp {
	position:relative;
	padding:0;
	overflow:hidden;
	border:nonw;
}

.portfolio-area .image-wrapp img {
	margin:0;
	padding:0;
}




/* Portolio Hover */

.da-thumbs li ,
.da-thumbs li  img {
	display: block;
	position: relative;
}
.da-thumbs li  {
	overflow: hidden;
}
.da-thumbs li  article {
	position: absolute;
	background-image:url(../img/da-hover.png);
	background-repeat:repeat;
	text-shadow:none;
	padding-top:20%;
	width: 100%;
	height: 100%;
}

.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -200%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.da-thumbs li  article a {
	color:#fff;
	display:block;
}

.da-thumbs li  article  {
	text-align:center;
	padding-top:20%;
}

.da-thumbs li  article em{
	color:#dfdfdf;
	display:block;
	margin:0 0 10px 0;
}

.da-thumbs li  article a{
	display:inline-block;
}

.da-thumbs li  article a:hover {
	text-decoration:none;
}

ul.project-detail{
	list-style:none;
	margin:0;
	padding:0;
}

ul.project-detail li{
	list-style:none;
	border-bottom:1px dotted #e5e5e5;
	padding-bottom:10px;
	margin-bottom:15px;
}

ul.project-detail li label{
	display:inline;
	color:#494949;
	font-weight:bold;
}

.project-widget {
	padding:20px 15px 0 15px;
	margin: 0 0 30px 0;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* ============== contact ==================== */
ul.contact-list{
	list-style:none;
	margin:0;
	padding:0;
}

ul.contact-list li{
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
}

ul.contact-list li input.form_input,ul.contact-list li textarea.form_textarea {
	width: 95%;
	padding:10px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width:4px;
	border-color:#eee;
}

ul.contact-list li.last{
	margin-bottom:0;
}

ul.contact-list li label{
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}

/* ================= bottom ========================== */

section#bottom{
	background: url(../img/bg/bg-1.jpg) 50% 0 no-repeat fixed;
	width:100%;
	height:auto;
	margin:0;
	padding:40px 0 30px;
}


/* twitter */
.tweet {
	overflow:hidden;
	padding:10px;
	color:#fff;
	font-size:34px;
}



.tweet ul {
	list-style:none;
}

#bottom .icon-twitter {
	color:#fff;
}

.tweet .tweet_time a:hover {
	text-decoration:none;
}

div.getstartedabout
{position:absolute;
	top:250px;
	left:30px;
	width:45%;
}

/* Footer */

footer{
	float:left;
	width:100%;
	background:#212121;
	color:#fff;
	margin:0;
	
}

footer .verybottom {
	padding:30px 0 10px 0;
}

.tabbable{
	padding:0;
}



.video{
	border:none;
	width:100%;
	height:280px;
}

.thumbnail{
	background:#fff;
}

img.pull-left{
	margin:0 20px 20px 0;
}


/* social links */
.social-links {
	list-style:none;
	margin:0;
	margin-bottom:20px;
}
.social-links li {
	display:inline;
}
.social-links li a {
	margin:0;
}
.social-links li {
	margin:0;
}
.social-links li a:hover {
	text-decoration:none;
}


/* ===================== demo purpose ==========================*/

/* demo class */
.demobutton a {
	margin-bottom:10px;
}

/* demo buttons page */
.demo a.btn {
	margin:0 10px 10px 0;
}


/* tab */
.nav-tabs {
	margin:0;
}
.nav-tabs > li > a {
	font-weight:bold;
}
.tab-content {
	border:1px solid #ddd;
	border-top:none;
	padding: 10px;

}

/* accordion */

.accordion-heading {
	background:#f8f8f8;
}

.accordion-heading a {
	font-weight:bold;
	color:#444;
}
.accordion-heading a:hover {
	text-decoration:none;
}
.accordion-heading {
  	border-bottom: 0;
}

.accordion-heading .accordion-toggle {
  	display: block;
  	padding: 8px 15px;
	text-decoration: none;
}

.accordion-heading .accordion-toggle i {
  	margin-right: 10px;
}

.accordion-heading .active{
	background:#fff;
}


.accordion-toggle {
  	cursor: pointer;
}

.accordion-inner {
  	padding: 9px 15px;
  	border-top: 1px solid #eee;
}

/* Align center */	
.aligncenter{
	margin:0 auto;
	text-align:center;
}	

.aligncenter i {
	text-align:center;
}

.aligncenter img, img.aligncenter{
	margin-bottom:20px;
}


/* spacer */

.botspacer30{
	margin-bottom:30px;
}


/* ==== media screen queries ==== */

@media (min-width: 768px) and (max-width: 979px) {
	.navbar-inner {
		width:100%;
	}
	#topnav .navbar-inner .container .logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
	}	
	.default {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
	}

}

@media (max-width: 767px) {

	.navbar-inner {
		width:100%;
	}
	.navbar-inner .container {
	width:100%;
    padding-left: 20px;
    padding-right: 20px;
	}	
	.default {
	position: fixed;
	background:#2a2a2a;
	width: 100%;
	padding-right:20px;
	}
	
	.fixed {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
		padding-right:20px;
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
	}

	#topnav .navbar-inner .container .logo {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
	}
	
	div nav ul {
		display:none;
	}
	nav ul li {
		display:none;
	}
    nav select {    
      display: block;
	  width:50%;
	  float:right;
	  margin-bottom:20px;
	  color:#111;
	  margin-top:20px;
	  margin-right:40px;
	  line-height:30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		font-size:14px;
    }
	
    nav select  a {    
		line-height:1.5em;
    }
	
	.box {
		margin-bottom:20px;
	}
	
	.portfolio-area li {
		margin-right:20px;
	}
	
	ul.filter li {
		margin-bottom:10px;
	}
	.tweet span {
		line-height:1.5em;
	}
	
}


@media (max-width: 480px) {

	
    nav select {
      display: inline-block;
	  width:85%;
	  float:none;
	  margin:20px;
	  color:#111;
	  line-height:30px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		font-size:14px;
	}
	
	section#intro{
		padding:180px 0 20px;
	}



	.section {
		padding:180px 0 40px 0;
	}

	ul.filter li {
		margin-bottom:10px;
	}
	
	.tweet span {
		line-height:1.5em;
	}
}

div.createselected{
	background:#E8EBF0;
	color:white !important;
	height:90px;
border-radius:25px;
}
h2.createmenu{
	margin-left:10px;
}
h3.createmenu{
	margin-left:10px;
}
div.createmenunotselect{
	height:90px;
}
div.shippingoptionselect{
width:50%;
float:left;
}

div.addedimages{
	background:#2a2a2a;
	height:376px


}

div.imageblock    {
          background: #FEFEFE;

 min-height:300px;
 overflow:hidden;

}
img.imageadded  {
  max-width: 265px;
    max-height:230px;
    border:2px solid #e3e3e3;
    display:block;
    text-align: center;
  

    margin:auto;

}
input#maincitysearchbar{
	float:left;
	height:0px;
	padding:14px 0px 14px 4px;
	margin-left:20px;
}
h4.additionalfilterstext{
	position:absolute;
	left:40px;
	width:150px;
}
div.buttonsadditem{
	margin-top:10px;
	text-align:center;
	display:none;
}

div.checkboxadditem{
	height:20px;
	width:100%;
}
span.noitemfound{

	color:#2984c0;
}
span.noitemfound:hover{
	cursor:pointer
}
button.deletepicturebutton{

}
input.additeminput{
	padding: 8px 0px 6px 5px;
	width:80%;
	margin-left:20px;
}
select.additeminput{
	margin-left:20px
}
textarea.additeminput{
	padding: 8px 0px 6px 5px;
	width:80%;
	margin-left:20px;
}
div.buttonsaddpicture{
display:none;
text-align:center;

margin-top:20px
}
button.setasmainbutton{
	width:50%;
	float:left;
}

button.mainbutton{
	width:50%;
	float:left;
}
button.deleteimagebutton{
	width:50%;
	float:right;
}

span.checkboxspan{
	margin-left:30px
}

li.addshipping{
	display:none; 
}
li.shippingpricecontainer{
	display:none;
}

div.itemsingleinfo{
	width:350px;
	float:left;
	
}
div.companymapinfo{
	width:350px;
	float:left;
	margin-left:30px;
}

img.googlemapimage{
	border: 3px solid white;
	box-shadow: 5px 5px 5px #888888;
	cursor:pointer;
}

img.companylogosingle{
	max-width:50px;
	max-height:50px;
	margin-left:10px;
	border:2px solid white;
}
div.itempicturechooser{
	text-align:center;
	width:300px;
	float:left;
	margin-right:30px;
}
img.itempicturenotchosen{
	border:5px solid #e3e3e3;
	max-height:50px;
	opacity:0.4;
}

img.itempicturenotchosen:hover{
	border:5px solid white;
	max-height:50px;
	opacity:1;
	cursor:pointer;
}

img.itemchosen{
	border:5px solid white;
	max-height:50px;

}

img.itemdisplayed{
		border:8px solid white;
		max-width:300px;
		max-height:300px;


}
div.chosen-container {

height:37px !important; 
margin-left:20px !important;
}

a.chosen-single{
	height:30px !important;
}
div.addbuttonssingle{
	margin-left:30px;
	margin-bottom:20px
}
div.itemsingleprice{
	
	width:60%;
}
span.itemsingledietary{
	font-size: 16px
}
div.socialmediacontainersingle{
width:37%;
float:right;
}
img.reviewprofilepicture{
	max-height:30px;
	max-width:30px;
}
div.flagreviews{
	position:absolute;
	left:2px;
	bottom:0px;

}
div.userreviews{
	margin-left:0px;
}
img.itemheadersmall{
	max-height:50px;
	max-width:50px;
	border: 2px solid white;
	margin-left:10px;
}
span.flagreviewtext{
	font-size:8px;
	cursor:pointer;
}
img.tipprofilepicture{
	max-height:30px;
	max-width:30px;
}
input.edititeminput{
	height:0px;
	margin-left:20px
}
span.subscripttext{
	font-size:9px;
	margin-left:30px;
}
span.flagreviewtext:hover{
	color:red;
}
textarea.descriptionedit{
	width:300px;
	margin-left:20px;
}


span.reviewflagged{
		font-size:11px;
	cursor:pointer;
	color:red;
}
div.editrequestbuttoncontainer{
	width:100%;
	margin-top:30px;
	float:left;
	margin-left:20px;

}
div.checkboxadddivedit{
	width:50%;
	float:left;
}

h5.forkedcountheader{
	margin-right:8px;
}
div#mustbeloggedin{
	 position: absolute;
	 width:250px;
	 display: none;
	 background: #ccc;
	 border: 1px solid #888888;
	 z-index:9999
}

div.flagitem{
	position:absolute;
	top:0px;
	right:2px;
}
img.pintrestlogo{
	margin-top:6px;
}

span.flagitemtext{
	font-size:11px;
	cursor:pointer;
}

span.itemflagged{
		font-size:11px;
	cursor:pointer;
	color:red;
}

span.flagitemtext:hover{
	color:red;
}
#listthumbnail {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.foodthumbnail {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: small; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

span.addressautosuggest{
	color:#808080;
}
div.noitemsleft{
	width:100%;
	height:200px;
	background:white;
}

.thumbnailimage  {
	max-width: 100%;
	max-height:200px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	cursor:pointer;
	  display:block;
    margin:auto;
}

.foodthumbnail p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

div.itemfeatures{
	width:70%;
}

div.thumbnailrating{
width:50%;
float:left;
margin-top:5px;
}
div.thumbnailviewcount{
	width:50%
	float:right;
}
button.searchbarbutton{
	margin-top:-10px!important;
	height:30px;
	margin-left:5px;
}

div.imagecontainer{
	   position:relative;
}
div.socialmediacontainer{
	position:absolute;
	width:100%;
   top: 0px;
   left: 0px;
   z-index:2; 
   height:30px;
   display:none;
}



img.facebooklogo{
margin-top:5px;	
}

img.twitterlogo{
margin-top:5px;	
	
}

div.socialmediabackground{
		position:absolute;
	width:100%;
	height:30px;
	  top: 0px;
   left: 0px;
	background-color:#999999; 
	opacity:0.4;
	z-index:2; 
	display:none;
}

div.simpleoverlay{
	width:100%;
	min-height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:666;
	background-color:#999999; 
	opacity:0.5;
	display:none;

}
button.closepictureframe{
	position:absolute;
	top:0px;
	right:0px;
}
div.itemframe{
	width:60%;
	position:fixed;
	height:400px;
	background-color:white;
	z-index:1000;
	margin:0 auto;
	left:50%;
 top:45%;
 margin-left:-400px;
 margin-top:-150px;
 display:none;
border:5px solid #3498db ;


}

img.picturecloseup{
	display:block;

	max-width:90%;
	max-height:90%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right :0;
	margin:  auto;
}
img.framemainpageload{
	cursor:pointer
}

div.pictureframe{
	width:400px;
	position:fixed;
	height:450px;
	background-color:white;
	z-index:1000;
	margin:0 auto;
	left:65%;
 top:250px;
 display:none;
 margin-left:-400px;
 margin-top:-150px;
border:5px solid #3498db;

 vertical-align:middle;


}
div.ratecontainer{
	width:25%;
	height:65px;
	margin-top:10px;
	float:left;
}

div.ratecontainersingle{
	width:25%;
	height:65px;
	float:right;

}
div.companyinfo{
	float:left;
	width:250px;
	margin-left:50px;
}

div.companyinfomap{
	float:left;
}
div.citysuggestion{
	margin-top:-20px;
	height:20px;
}

div.neighbourhoodsuggestion{
	margin-top:-20px;
	height:20px;
}

div.itemaddress{
width:120px;
float:left;
margin-top:15px;
margin-left:5px;

border-radius: 10px

}
span.tilecompanytitle{
	font-size:12px;
	line-height:0px;
	margin-left:5px;
}
span.addressinfotile{
	font-size:10px;
	line-height:10px;
	margin-left:5px;
	display:block;
}
div.filterframe{
	width:30%;
	display:none;
	position:absolute;
	height:400px;
	background-color:white;
	z-index:1000;
	margin:0 auto;
	left:50%;
 top:275px;
 margin-left:-400px;
 margin-top:-150px;
border:5px solid #3498db 



}
div.dietaryrestrictionsframe{
	height:280px;
}
button.applyfilters{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:15px;
}
div.framecolumnleft{
	width:40%;
	float:left;
}
div.framecolumnright{
	width:40%;
	float:right;
}

div.itemnameheader{
	width:90%;
	max-height:150px;
	word-wrap:break-word;
	margin: 0 auto;
}
div.framediv{
	width:90%;
	height:275px;
display:block;
	margin-left:auto;
	margin-right:auto;
	border: 5px solid #FAFAFA;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius:15px;
	overflow:auto;

}
div.filterdietaryrestrictionbox{
width:80%;
margin: 0 auto;
}
button.followbutton{
	margin-left:20px
}

div.companysearchdiv{
width:20%;
border: 5px solid #FAFAFA;
background: #FEFEFE;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
height:350px;
margin-bottom:15px;
margin-right:5px;
position:relative;
}

div.personsearchdiv{
width:20%;
border: 5px solid #FAFAFA;
background: #FEFEFE;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
height:230px;
margin-bottom:15px;
margin-right:5px;
position:relative;
}

h4.searchresults{
	text-align:center;
	margin-bottom:10px
}
img.searchimage{
  display:block;
    margin:auto;
    max-width:100%;
    max-height:175px;
}

div.closeitemframe{
	position:absolute;
	top:5px;
	right:5px;

}

span.companynumberitemsposted{
	font-size:14px;
	position:absolute;
	bottom:0px;
	left:5px;
	font-weight:bold;
	margin-left:5px;
}
span.companyspandescription{
	font-size:13px;
	margin-left:5px;
}


div.frameimagecontainer{
	width:40%;
	height:300px;
	float:left;
	margin-top:30px;
	margin-left:30px;
}

img.imagedisplayedframe{
	max-width:100%;
	max-height:100%;
	display:block;
	margin: 0 auto
}
div.frameimageselect{
	width:50%;
	float:left;
	margin-top:10px;
	text-align:center;
	height:60px;
}

div.frameiteminfo{
	width:50%;
	float:right;
	height:400px;
	margin-top:30px;
}
div.itemfeaturesframe{
	width:40%
	float:left;
}
div.socialmediaframe{
	margin-top:15px;
	margin-left : auto;
	margin-right : auto;
	background:#E5E4E2;
	border: 1px solid #D1D0CE ;
	border-radius:5px;
	width:75px;
}
div.socialmediaframesingle{

	background:#E5E4E2;
	border: 1px solid #D1D0CE ;
	border-radius:5px;
	width:75px;
	float:left;
}


div.useroptionsframe{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
div.submitreview{
	position:absolute;
	top:0px;
	left:0px;
}
div.itemslider{
	 width: 200px; 
	 float:left;
	    min-height:200px;
            margin-right:5px;
	    margin-bottom:15px;
         background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	display:block;
}

 div.item0{
            width: 200px; 
	    min-height:200px;
            margin-bottom:15px;
            margin-right:5px;
         background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	display:block;
        }
h5.forkcountheader{
text-align:center;
margin-right:13px
}
div.loginbuttoncontainer
{
	width:100%;
	text-align:center;
}

div.reviewcontainer{
	width :50%;
	margin: 0px auto;
	background-color: white;
	border: 2px solid #888888;

	position:relative;
	min-height:100px;
	overflow:auto;
	overflow-x : hidden;
	overflow-y:hidden;
	
}
h5.reviewheader{
	margin-left:10px;
}
div.itemtipcontainer{
	width :50%;
	margin: 0px auto;
	background-color: white;
	border: 2px solid #888888;
	position:relative;
	min-height:100px;
	overflow:auto;
}
input.filterresults{
height:0px;

}

div.searchrow{
	background: white;
}
button.closeframe{
	position:absolute;
	top:0px;
	right:0px;
}
div.usercontainer{
width:60%;
float:left;
}
div.ratingcontainer{
width:40%;
float:right;
height:30px;
margin-top:0px;
text-align:right;
}
div.timereviewcontainer{
float:right;
margin-right:10px;
}
div.commentcontainer{
width:100%;
float:left;
margin-top:5px;
min-height:10px;

}
#slides{
	display:none;
}

 #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(/static/img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/static/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

.slidesjs-container{
/*	border:5px solid white */
}
p.commentsreviewbox{
	margin-left:10px;
	text-align:left
}

div.aboutfindcity{
	height:200px;
	margin-left:auto;
	margin-right:auto;
	width:710px;
	margin-top:50px;
	border:5px solid #D0D0D0  ;
	background:white;
	border-radius: 20px
}
div.markreviewuseful{
float:left;
height:50px;
width:100%;
}
h2.aboutheadertext{
	color:#e3e3f6;
	border-bottom:none;
	font-size:50px
}

select.aboutpagecityinput{

	border-radius: 20px;
	margin-left:50px;
	width:400px;
	font-size:large;
	margin-top:40px;
}
div.singleitemuserposted{
	text-align:right
}
h4.itemsingleusername{
	margin-right:20px
}
.footertext{
	color:white;
}
input.aboutsubmit{
	height:40px;
	margin-left:20px;
	width:170px;
	margin-top:40px;
	margin-bottom:10px;
}
div.aboutheaderbacking{
	position:absolute;
	top:10px;
	left:10px;
	background:#585858;
	opacity:0.4;
	width:600px;
	height:300px 
}

div.aboutheaderdescription{
	position:absolute;
	top:100px;
	left:30px;
	width:45%
}
div.aboutpageheading{
	position:absolute;
	top:15px;
	left:15px;
	width:600px;
}
button.recommendreviewbutton{
	margin-left:10px;
}

div.reviewproblemcontainer{

	text-align:center
}

img.userprofilepicture{
	max-width:50px;
	max-height:50px;
}
select.rateitemadd{
	margin-left:10px;
}
textarea.newitemadd{
	width:80%;
	margin-left:10px;
}
h5.userreviewheader{
	text-align:left;
	margin-left:10px;
}
div.checkboxadddiv{
height:70px
}
span.datereview{
	font-size: x-small;
}
img.ratingstars{
	max-height:20px;
}
div.companylogoprofile{
	float:left;
	width:30%;
	margin-top:-50px;

}
img.companylogoprofile{
	max-width:100%;
	max-width:250px;
	border: 5px solid white;
	display:block;
	margin:auto;
}
div.companyprofileinfo{
	width:60%;
	float:right;
	
}
div.navtable{
	width:80%;
	margin: 0px auto;
}

#itemspostedcontainer{

		width:85%;
		margin:0 auto;
		}
#picturespostedcontainer{

		width:85%;
		margin:0 auto;
		}

a.cantfindcompany{
font-size:12px;
margin-left:20px;
}

#itemsforkedcontainer{
	width:85%;
	margin :0 auto;
}
div.containerholder{
	float:left;
	width:100%;
	margin-top:20px
}

#itemsmenucontainer{
	width:85%;
	margin :0 auto;
}
div.itemreviewedcontainer{
	width:100%;
	float:left;
	margin-top:-20px;
	margin-left:10px;

}
div.menutab{
	margin-left:30px;
	float:left;
}

div.companytipstab{
	margin-left:30px;
	float:left;
}
div.reviewstab{
	margin-left:30px;
	float:left;
}

div.usersreviewstab{
	float:left;
	margin-left:30px
}
div.userstipstab{
	float:left;
	margin-left:30px;
}
div.reviewspostedtab{
	width:15%;
	position:absolute;
	left:69%
}
div.tipspostedtab{
	width:15%;
	position:absolute;
	left:62%
}
img.loading{
	margin-left:auto;
	margin-right:auto;
	display:none;
	margin-top:30px;
}


img.userminiprofilepicture{
	max-width:40px;
	max-height:40px;
}
div.itemspostedtab{
float:left;
margin-left:30px;
}
div.picturespostedtab{
	margin-left:30px;
	float:left;	
}
div.forkedtab{
	float:left;
	margin-left:30px;
}
div.itemreviewstab{
	float:left;
	margin-left:30px;
}
div.itemtipstab{
	float:left;
	margin-left:30px
}
div.itemtipmarkuseful{
float:left;
height:40px;
width:100%;

}
button.recommendtipbutton{
	margin-left:10px
}
span.numberusefulitemtip{
	position:absolute;
	font-size:10px;
	bottom:0px;
	right:0px;
}

div.itemmorepicturestab{
	float:left;
	margin-left:30px;
}

div.itemsinglemenucontainer{
	width:399px;
	margin-left:auto;
	margin-right:auto;
}
div.starratingcontainer{
 height:20px;
}
div.starrating{
	width:100%;
}

span.reviewcountsingle{
	margin-left:5px;

}
h2.itemsinglenameheader{
color:#2984c0;
}
img.forkimagesingle{
	margin-top:2px;
	margin-right:1px;
}
span.selected{
	color:#2984c0;
}
span.menuitems{
	cursor:pointer;
	font-size:26px;
}
img.newprofilechosen{
max-height:100px;
border: 5px solid white;

}
span.usermenuitems{
	cursor:pointer;
	font-size:26px;
}

span.usermenuitems:hover{
	color:#2984c0;
}
span.itemmenuitems:hover{
	color:#2984c0;
}
span.itemmenuitems{
	cursor:pointer;
	font-size:26px;
}

input.searchbartext{
	position:absolute;
	left:10px;
	height:0px;
	margin-top:3px;
}
span.itemreviewedframe{
	cursor:pointer;
color:#2984c0;	
}
span.menuitems:hover{
	color:#2984c0;
}
div.seperator{
	width:100%;
	border:3px solid #e3e3e3 
}

div.usersfollowed{
	width:450px;
	float:left;
	background :white;
	border: 3px solid #888888;
	box-shadow: 5px 5px 5px #888888
}
div.usersfollowing{
	width:450px;
	float:right;
	background:white;
	border: 3px solid #888888;
	box-shadow: 5px 5px 5px #888888

}
div.followcontainer{
	width:350px;
	margin:0 auto;
	height:70px;

}
div.followprofilepicturecontainer{
	height:60px;
	margin-top:5px;
	width:60px;
	float:left
}
div.followuserinfocontainer{
	float:right;
	width:270px;
}
div.userinfoprofilepage{
	width:350px;
	float:left
}
div.recentactivityscroll{
	margin: 0 auto;
	overflow:auto;

}
div.recentactivitycontainer{
	width:300px;
	float:left;
	border: 3px solid #888888;
	margin-left:30px;
	background:white;
	height:300px;
	border-radius:10px;
	box-shadow: 5px 5px 5px #888888;
}
span.recentactivitytext{
	font-weight:bold;
	margin-left:10px

}
div.recentactivity{
border-bottom:1px solid #888888;
height:30px

}
h4.recentactivityheader{
	text-align:center;
	border-bottom :3px solid #888888;
	height:30px;
}
h5.followusername{
	width:250px
}
img.followprofilepicture{
	max-height:60px;
	max-width:60px;
}
h4.userfollowingheader{
	font-weight:bold;
	margin-left:20px;
}

div.userprofilepagepicture{
	float:left;
	border-radius:10px;
	width:30%;
	background:white;
	border: 2px solid #888888
}
div.userprofilemenucontainer{
	margin-left:auto;
	margin-right:auto;
	width:715px;
}

img.userprofilepagepicture{
	max-width:100%;
	max-width:250px;
	max-height:230px;
	border: 5px solid white;
	display:block;
	margin:auto;
	}

div.userprofileinfo{
	float:left;
	width:700px;
	margin-left:40px;
	
}
div.companyprofiletabcontainer{
	margin-left:auto;
	margin-right:auto;
	width:310px;
}

div.menuitemcontainer{
	position:relative;
	height:0px;
	margin-top:20px;
}

div.ratingthumbnail{
	width:100%;
	text-align:center;
}

div.thumbnailreviewcount{
		width:100%;
	text-align:center;
	margin-top:-10px;
}

span.numreviewsthumbnail{
	font-size:12px;
}
div.filterbarhome{
	width:850px;
	height:50px;
	background:white;
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 5px solid #FAFAFA;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius:15px;
	position:relative;
}
button.goback{
position:absolute;
left:20px;
}
h4.headingmain{
	text-align:center;
	position:relative;
}
button.clearfilters{
	position:absolute;
	right:60px;
}
div.filterbarviewall{
	width:960px;
	height:50px;
	background:white;
	margin-top:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 5px solid #FAFAFA;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius:15px;
	position:relative;
}

div.userprofileposted{
text-align:center;

height:30px;

}

div.buttonsuserprofile{
	width:100%;
}
div.forkbutton{
	height:35px;
	width:35px;
	background:rgba(34, 25, 25, 0.4);
	border: 1px solid rgba(34, 25, 25, 0.4);
	border-radius:50%;
	cursor:pointer;

}

div.forkbutton:hover{
	height:35px;
	width:35px;
	background:#1f6a0a;
	border: 1px solid #1f6a0a;
	border-radius:50%;
	cursor:pointer

}

div.unforkbutton:hover{

	height:35px;
	width:35px;
	background:rgba(34, 25, 25, 0.4);
	border: 1px solid rgba(34, 25, 25, 0.4);
	border-radius:50%;
	cursor:pointer;

}

div.unforkbutton{
	
	height:35px;
	width:35px;
	background:#1f6a0a;
	border: 1px solid #1f6a0a;
	border-radius:50%;
	cursor:pointer

}
button.selectneighbourhoodbutton{
float:left;
margin-left:10px;
height:30px;


}

button.selectfoodbutton{
	float:left;
	margin-left:10px;
	height:30px;
}

button.selectdietaryrestrictionsbutton{
	float:left;
	margin-left:10px;
	height:30px;

}
select.sortbyfilter{
	width:100px;
	float:left;
	margin-left:10px;
}
button.filterbuttonhome{
	float:left;
	margin-left:10px;
	height:30px;
	width:100px;
}

img.forkimage{
	margin-top:2px;
	margin-left:2px

}

div.filterbuttonholder{
margin-top:10px;
height:50px;
}

div#mainsearchcitysuggestion{
	position:absolute;
	top:40px;
	left:20px;
}


div#mainsearchcityerror{
	position:absolute;
	top:-40px;
	left:20px;
	display:none;
}
div.applydietaryfilter{
width:80%;
margin: 0 auto;
text-align:center;
margin-top:20px
}
.filebutton{
 position: relative;
            text-align: right;
            -moz-opacity:0 ;
            filter:alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
             top: 0px;
            left: 0px;
            cursor:pointer;
            width:150px!important;

}
 div.fileuploadcontainer {
            position: relative;
        }

.fakefile {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            width:174px;
            height:30px;
            margin-top:10px;
        }

::-webkit-file-upload-button { cursor:pointer; }

@media (min-width: 960px) {
#container {
 width:1000px;
margin: 0 auto;
}
}

