{%extends "base.html"%}
{%block add_title%}
<title>WhereTheFork-Find the Best Eats in your City</title>
{%endblock add_title%}

{%block base_content%}
 <div id="slides">
   
    
<div >
      <div class= "aboutheaderbacking" >
      </div>
      <div class = "heading aboutpageheading" >
    <h2 style="color:#e3e3f6;border-bottom:none;font-size:50px"><span>Welcome to WhereTheFork!</span></h2>
    </div>
     <div class="aboutheaderdescription" >
    <h2 style="color:#e3e3f6;"><span>Discover, rate, and share restaurant items in your area</span></h2>
    </div>

    <div  class= "getstartedabout" >
      <a href = "/myaccount/signup/user">
        <button class= "btn btn-large btn-primary"> Get Started</button>
    </a>
    </div> 
      <img  src= "{{STATIC_URL}}img/lobstercakescaled.jpg" style = "margin-bottom:-1px">
</div>

    <div >
      <div class= "aboutheaderbacking">
      </div>
       <div class = "heading aboutpageheading" >
    <h2 class="aboutheadertext" ><span>A Real Foodie's Dream</span></h2>
    </div>
     <div class="aboutheaderdescription" >
    <h2 style="color:#e3e3f6;"><span>Every item has all the information necessary for the serious foodie. Everything from the price, to the dietary restrictions. </span></h2>
    </div>
    <div  class= "getstartedabout" >
      <a href = "/myaccount/signup/user">
        <button class= "btn btn-large btn-primary"> Get Started</button>
      </a>
    </div> 
      <img  src= "{{STATIC_URL}}img/chocolate.jpg" style = "margin-bottom:-1px">
    </div>
  

   <div >
      <div class= "aboutheaderbacking">
      </div>
       <div class = "heading aboutpageheading" >
    <h2 class="aboutheadertext" ><span>Share your Knowledge</span></h2>
    </div>
     <div class="aboutheaderdescription" >
    <h2 style="color:#e3e3f6;"><span>Give ratings, tips and reviews on any item to gain points to prove that you are the biggest foodie out there </span></h2>
    </div>
    <div class= "getstartedabout" >
      <a href = "/myaccount/signup/user">
      <button class= "btn btn-large btn-primary"> Get Started</button>
    </a>
    </div> 
      <img  src= "{{STATIC_URL}}img/crabscaled.jpg" style = "margin-bottom:-1px">
    </div>

  </div>



<div class="aboutfindcity ">
<div style= "margin-top:20px" class = "heading " >
    <h3  ><span>Choose your City</span></h3>
    </div>
    <select name ="aboutvalue" class= "aboutpagecityinput">
	    <option value="Vancouver,BC">Vancouver,BC</option>
</select>	 	    

    <a href="/">
    <input type = "submit" class="btn btn-large btn-success aboutsubmit" value = "Search">
    </a>
 </div> 


{%endblock base_content%}
{% block add_footer %}
 <footer>
<div class="verybottom">
  <div class="container">
    <div class="row">
      <div class="span12">
        
        <div class= "span12">
        <!--   <h4 class = "footertext"> About Us </h4>
          <a href ="/company"><h6 class="footertext">Company</h6></a>
          <a href = "/contact"><h6 class="footertext">Contact</h6></a>
 -->

        </div>
  <h6 class="footertext" style="text-align:center">   &copy; WhereTheFork 2013 - All rights reserved</h6>
          
        
      </div>
    </div>
  </div>
</div>
</footer>
{% endblock add_footer %}
{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/jquery.slides.min.js"></script>
 <script>
    $(function(){
      $("#slides").slidesjs({
        width: 960,
        height: 400,
         play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "slide",
        // [string] Can be either "slide" or "fade".
      interval: 10000,
      auto:true,
    }
      });
    });
{% endblock add_script %}
