{% load custom_filters %}
<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
{% block add_title %}

{% endblock add_title %}

<meta name="viewport" content="initial-scale=0.65,width=device-width" />

<meta name="description" content="WhereTheFork helps you find the best eats in your city. Share and rate all of your favourite foods and find out what other foodies in your area think about theirs." />
<meta name="author" content="" />
<meta name="google-site-verification" content="E1Gr_ptL9PvnjvVWX4okFxeKCwSnDf8kGvKJawrUgCE" />
<!-- styles -->
<link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/prettyPhoto.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" />
{% block add_styles%}
{% endblock add_styles%}
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" />
<script>

</script>


</head>

<body>

<header>
<!-- start top -->
<div id="topnav" class="navbar navbar-fixed-top default">

		
	
	<div class="navbar-inner">
		<div class="container">
			<div class="logo">
				<a href="/">
				<img src="http://wherethefork.s3.amazonaws.com/photos/static/wherethefork.png" alt="" />
				</a>
			</div>
			<div class= "searchform" >
		<input type = "text" id = "mainsearchbar" style = "height:0px;padding:14px 0px 14px 4px" placeholder="Search" value ="{{request.session.searchquery}}">
		<select id = "mainsearchcategory" style = "width:100px">
			<option id = "itemmainselect" {% if request.session.searchcategory == "Item"%} selected {%endif%}>Item</option>
			<option id = "companymainselect" {% if request.session.searchcategory == "Company"%} selected {%endif%} >Company</option>
			<option id = "ingredientmainselect" {% if request.session.searchcategory == "Ingredient"%} selected {%endif%} >Ingredient</option>
		</select>
		<button class="btn btn-primary searchbarbutton">Search <i class="icon-search"></i></button>

	</div>		

			<div class= "useroptions">
				<div class="navigation">
					<nav>
					<ul class="nav pull-right">
						{% if user.is_authenticated %}
		
								<li><a href="/items/new">Add a Menu Item</a></li>
								<li class="dropdown">
							<a href="#">My Account <i class="icon-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/users/user/{{user.id}}" class="external">My Profile</a></li>
								<li><a href="/myaccount/editaccount" class="external">Edit Profile</a></li>
								<li><a href="/myaccount/logout" class="external">Logout</a></li>
								
							</ul>
							</li>
						
						{%else%}
						<li><a href="/myaccount/signup/user">Signup </a></li>
						<li><a href="/myaccount/login">Login</a></li>
						{%endif%}

						
					</ul>
					</nav>
				</div>
			</div>	
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
<!-- end top -->
</header>
<section class="section">
	<div class= "simpleoverlay"></div>
	<div class= "container" >
{%block base_content %}
{%endblock base_content %}
	</div>
</section>
{%block add_footer%}
{%endblock add_footer%}


<!-- javascript -->
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.easing.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/parallax/jquery.parallax-1.1.3.js"></script>
<script src="{{ STATIC_URL }}js/nagging-menu.js"></script>

<script src="{{ STATIC_URL }}js/prettyPhoto/jquery.prettyPhoto.js"></script>
<script src="{{ STATIC_URL }}js/portfolio/jquery.quicksand.js"></script>
<script src="{{ STATIC_URL }}js/portfolio/setting.js"></script>
<script src="{{ STATIC_URL }}js/hover/jquery-hover-effect.js"></script>
<script src="{{ STATIC_URL }}js/jquery.scrollTo.js"></script>
<script src="{{ STATIC_URL }}js/twitter/jquery.tweet.js"></script>

<script src="{{ STATIC_URL }}js/animate.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45111837-1', 'wherethefork.com');
  ga('send', 'pageview');

</script>

<script>

$(document).ready(function(){

				
			

})
</script>

<script>
{%block add_script%}
{%endblock add_script%}
</script>
</body>
</html>
