{%extends "base.html"%}
{%block add_title%}
<title>WhereTheFork</title>
{%endblock add_title%}

{%block base_content%}


<div style= "margin-top:20px" class = "heading " >
    <h3  ><span>About Us</span></h3>
    </div>
<div class="span12">
	<p>At WhereTheFork we believe that 
	</p>
</div>

{%endblock base_content %}