{% load custom_filters %}
<div class= "closeitemframe">
		<button class= "btn btn-mini btn-danger closefilterframe">X</button>
	</div>
<h4 style ="text-align:center">Foods</h4>
<div class="framediv">

<div class= "framecolumnleft">
	<h5> Foods </h5>
{% for food in foods %}
<input type = "checkbox" class= "foodfilter" id ="{{food.foodtype}}" {% if food.foodtype in foodfilter%}checked{%endif%} > {{food.foodtype}}</input>
<br/>
{%endfor%}
</div>
<div class = "framecolumnright">
	<h5>Desserts</h5>
{% for dessert in desserts %}
	<input type = "checkbox" class= "foodfilter" id ="{{dessert.foodtype}}" {% if dessert.foodtype in foodfilter%}checked{%endif%}> {{dessert.foodtype}}</input>
	<br/>
{%endfor%}
<h5>Bakery Goods</h5>
{% for bakerygood in bakerygoods %}
	<input type = "checkbox" class= "foodfilter" id ="{{bakerygood.foodtype}}" {% if bakerygood.foodtype in foodfilter%}checked{%endif%}> {{bakerygood.foodtype}}</input>
	<br/>
{%endfor%}
<h5>Drinks</h5>
{% for drink in drinks %}
	<input type = "checkbox" class= "foodfilter" id ="{{drink.foodtype}}" {% if drink.foodtype in foodfilter%}checked{%endif%}> {{drink.foodtype}}</input>
	<br/>
{%endfor%}
</div>
</div>
<button class= "btn btn-success btn-large applyfilters">Apply</button>


