{% extends "base.html" %}
{%block add_title %}
<title>{{municipal.name}} Menu Items- WhereTheFork</title>
{% endblock add_title %}
{%block base_content%}
{% load custom_filters %}

<div class= "itemframe"></div>
<div class= "neighbourhoodframe filterframe"></div>
<div class="foodframe filterframe"></div>
<div id="mustbeloggedin">You must be logged in to fork an item</div>
<div class="dietaryrestrictionsframe filterframe">
	<div class= "closeitemframe">
		<button class= "btn btn-mini btn-danger closefilterframe">X</button>
	</div>
	<h3 style = "text-align:center"> Select Dietary Restrictions</h3>
	<div class= "framediv" style = "height:145px">
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "fatfree" class = "dietaryfilter" {%if fatfree %} checked {%endif%}> <span >Fat Free</span>
</div>
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "glutenfree" class = "dietaryfilter"{%if glutenfree %} checked {%endif%}> <span>Gluten Free</span>
</div>
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "lactosefree" class = "dietaryfilter" {%if lactosefree %} checked {%endif%}> <span>Lactose Free</span>
</div>
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "peanutfree" class = "dietaryfilter"{%if peanutfree %} checked {%endif%}> <span>Peanut Free</span>
</div>
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "vegan" class = "dietaryfilter"{%if vegan %} checked {%endif%}> <span>Vegan</span>
</div>
<div class= "filterdietaryrestrictionbox" >
	<input type = "checkbox" id = "vegetarian" class = "dietaryfilter"{%if vegetarian %} checked {%endif%}> <span>Vegetarian</span>
</div>
</div>
<div  class= "applydietaryfilter">
	<button class = "btn btn-success btn-large applydietaryfilter">Apply Filter</button>
</div>
</div>
<input type = "hidden" id = "iscityselect">
<input type = "hidden" id = "currentcity" value ={{userinfo.city}} >
<input type = "hidden" id = "currentsort" value ={{sortby}}>

<a href="/loadmore/2/" id ="page-nav"></a>

<h4 class="headingmain" >
	<a href = "/">
		<button class="btn btn-danger clearfilters">Clear Filters </button>
	</a>	
	Results {% if request.session.iscity %}near{%else%}in{%endif%}  {{request.session.cityname}},{{request.session.provincestate}}
</h4>

	<div class= "row" >
		<div class = "filterbarhome">
			
			<div class= "filterbuttonholder">
			<input type = "text" id = "maincitysearchbar"  placeholder="City" value ="{{request.session.cityname}},{{request.session.provincestate}}">
			<div  id = "mainsearchcityerror" >
				<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>You must select a city
				</div>
				
			</div>
			<div  id = "mainsearchcitysuggestion" ></div>
			{% if request.session.iscity  %}
			<button class= "btn btn-primary selectneighbourhoodbutton"><i class="icon-home"></i>Select Neighbourhood</button>
			{%endif%}
			<button class= "btn btn-info selectfoodbutton"><i class="icon-food"></i>Select Food</button>
			<button class= "btn btn-inverse selectdietaryrestrictionsbutton"><i class="icon-remove-sign"></i>Dietary Restrictions</button>

		<!--	<select id = "sortby" class="sortbyfilter">
				<option>Sort By</option>
				<option value = "toprated">Top Rated</option>
				<option value = "mostreviewed">Most Reviewed</option>
				<option value = "mostforked">Most Forked</option>
				<option value = "pricelowtohigh">Price:Lowest to Highest</option>
				<option value = "pricehightolow">Price:Highest to Lowest</option>
			</select> !-->
			<button class= "btn btn-success filterbuttonhome " id="filterbuttonhome"  >Filter</button>
		</div>
		</div>
		
	</div>
<div id= "container" >
	{%comment%} Featured Item Container {%endcomment%}
	<h2 class= "sectionheader">
		<button class= "btn btn-info buttonnav buttonnavleft" id ="prevpagefeatured" ><i class="icon-caret-left"></i><i class="icon-caret-left"></i>Previous</button>
		<button class= "btn btn-info buttonnav buttonnavright" id ="nextpagefeatured">Next <i class="icon-caret-right" ></i><i class="icon-caret-right"></i></button>
			Featured Items
	</h2>	
	{% if isfeatureditems %}
	<div class="viewallcontainer">
		<a class = "viewall"  href ="/featured{{request.session.filterquerystring}}">
				View All
		</a>	
	</div>	
	{%endif%}
			{% if isfeatureditems%}
			<div class= "featuredcontainer" id = "featuredcontainer">
				{%for item in featureditems%}
		<div class= "itemslider">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}
	
	</div>	
	{%else%}
		<h5 class="noitemsfound">We couldn't find any items that matched your search </h5>
{%endif%}
	

<hr>
			{%comment%}Top Rated Items{%endcomment%}
			<h2 class= "sectionheader">
				<button class= "btn btn-info buttonnav buttonnavleft" id ="prevpagetoprated" ><i class="icon-caret-left"></i><i class="icon-caret-left"></i>Previous</button>
				<button class= "btn btn-info buttonnav buttonnavright" id ="nextpagetoprated">Next <i class="icon-caret-right" ></i><i class="icon-caret-right"></i></button>
				Top Rated Items</h2>
	{%if istoprated%}				
	<div class="viewallcontainer">
		<a class = "viewall"  href ="/toprated{{request.session.filterquerystring}}">
				View All
		</a>	
	</div>
	{%endif%}	

			
			{%if istoprated%}
			<div class= "featuredcontainer" id="topratedcontainer">
				{%for item in toprateditems%}
		<div class= "itemslider">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>



	{%endfor%}
</div>
	{%else%}
		<h5 class="noitemsfound">We couldn't find any items that matched your search </h5>
	{%endif%}
	
	<hr>
	{%comment  %}Hidden Gems {%endcomment%}
	<h2 class= "sectionheader">
	       <button class= "btn btn-info buttonnav buttonnavleft" id ="prevpagehiddengems" ><i class="icon-caret-left"></i><i class="icon-caret-left"></i>Previous</button>
		<button class= "btn btn-info buttonnav buttonnavright" id ="nextpagehiddengems">Next <i class="icon-caret-right" ></i><i class="icon-caret-right"></i></button>
		Hidden Gems</h2>	
		{%if ishiddengem %}
		<div class="viewallcontainer">
		<a class = "viewall"  href ="/hiddengems{{request.session.filterquerystring}}">
				View All
		</a>	
		</div>	
		{%endif%}

	
				{%if ishiddengem%}
			<div class= "featuredcontainer" id = "hiddengemscontainer">
				{%for item in hiddengemitems%}
		<div class= "itemslider">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}
	
	</div>
	{%else%}
	<h5 class="noitemsfound">We couldn't find any items that matched your search.</h5>
	{%endif%}
	
	<hr>
	{%comment  %}Cheap Eats {%endcomment%}
	<h2 class= "sectionheader"> 
		<button class= "btn btn-info buttonnav buttonnavleft" id ="prevpagecheapeats" ><i class="icon-caret-left"></i><i class="icon-caret-left"></i>Previous</button>
		<button class= "btn btn-info buttonnav buttonnavright" id ="nextpagecheapeats">Next <i class="icon-caret-right" ></i><i class="icon-caret-right"></i></button>
		Cheap Eats</h2>	
		{%if ischeapeats%}
		<div class="viewallcontainer">
		<a class = "viewall"  href ="/cheapeats{{request.session.filterquerystring}}">
				View All
		</a>	
		</div>
		{%endif%}	

	
				{%if ischeapeats%}
			<div class= "featuredcontainer" id ="cheapeatscontainer">
				{%for item in cheapeatitems%}
		<div class= "itemslider">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}
</div>
	{%else%}
		<h5 class="noitemsfound">We couldn't find any items that matched your search </h5>
	{%endif%}
<hr>
	{%comment  %}Cheap Eats {%endcomment%}
	<h2 class= "sectionheader"> 
		<button class= "btn btn-info buttonnav buttonnavleft" id ="prevpageeverything" ><i class="icon-caret-left"></i><i class="icon-caret-left"></i>Previous</button>
		<button class= "btn btn-info buttonnav buttonnavright" id ="nextpageeverything">Next <i class="icon-caret-right" ></i><i class="icon-caret-right"></i></button>
		Everything</h2>	
		{%if iseverything%}
		<div class="viewallcontainer">
		<a class = "viewall"  href ="/everything{{request.session.filterquerystring}}">
				View All
		</a>	
		</div>
		{%endif%}	

	
				{%if iseverything%}
			<div class= "featuredcontainer" id ="everythingcontainer">
				{%for item in everythingitems%}
		<div class= "itemslider">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}
	{%else%}
		<h5 class="noitemsfound">We couldn't find any items that matched your search </h5>
	{%endif%}

</div>
{%endblock base_content%}
{% block add_script %}
</script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
<script>
$(document).ready(function(){
	appendto ="#mainsearchcitysuggestion"			
				options = { serviceUrl:'/citysuggest' ,
				width:215,
				maxHeight:400,
				appendTo: appendto,
				onSelect:function(e){
					document.getElementById("iscityselect").value = true
					$(".neighbourhoodfilter").each(function(index,value){
						this.checked = false
					}
				)	
				
					document.getElementById("filterbuttonhome").click();
				},
				onSearchStart:function(e){
					document.getElementById("iscityselect").value = false
					document.getElementById("mainsearchcityerror").style.display = 'None'
				},
				}
   				a = $('#maincitysearchbar').autocomplete(options);

})
{%endblock add_script %}
