
{% load custom_filters %}
<div class= "closeitemframe">
		<button class= "btn btn-mini btn-primary closeframe">X</button>
	</div>
	<div class= "frameimagecontainer">
		<img class= "imagedisplayedframe" id ="itemdisplayed" src="{{MEDIA_URL}}{{item.mainitemimage.url}}">
<div class ="socialmediaframe">
						 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
		</div>
	</div>
		<div class="frameiteminfo">
			<h4>By:<a href= "users/company/{{item.companyinfo.id}}"> {{company.companyname|safe}}<img class= "companylogosingle"src= "{{MEDIA_URL}}{{company.companylogo}}"></a></h4>
		<h2><a href = "/items/single/{{item.id}}"><span>{{item.name}}</span></a></h2>
		{%if item.reviewcount != 0 %}
			 <div class= "ratingframe">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="reviewcountframe"><span class="numreviewsframe">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
		{%if item.price %}	
			<h1>${{item.price}}</h1>
		{%else%}
			<h5>No Price Listed</h5>
		{%endif%}		
		
		{% if item.fatfree%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
				{% if item.lactosefree%}
			<div class="itemfeaturesframe">
				<i class="icon-ok-sign"></i>lactose free
			</div>	
			{%endif%}
			<div class="rating">
				<!-- add rating -->				
			</div>


		
