{% load custom_filters %}
	{%for item in items%}
		<div class= "item0">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" style="text-align:center;margin-right:8px">{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}

