{% load custom_filters %}
<div class= "closeitemframe">
		<button class= "btn btn-mini btn-danger closefilterframe">X</button>
	</div>
<h4 style ="text-align:center">Neighbourhoods</h4>
<div class="framediv">
{% for neighbourhood in neighbourhoods %}
{% if forloop.first %}<div class= "framecolumnleft">
	{%elif  forloop.counter == countdivide|add:1 %}<div class="framecolumnright"> {%endif%}

		<input class= "neighbourhoodfilter" id = "{{neighbourhood.name}}" type = "checkbox"  {% if neighbourhood.name in neighbourhoodfilter %} checked{%endif%}> {{neighbourhood.name}}</input>
<br/>
{%if forloop.counter == countdivide or forloop.last %}</div>{%endif%}
{%endfor%}

</div>

<button class= "btn btn-success btn-large applyfilters">Apply</button>


