body{
	 color: #666;

}


img.imageheader{
	max-width:150px;
	margin-left:25%;
}
h2.mobileheader{
	text-align:center;
	text-transform: uppercase;
	padding: 0;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
}
div.itemmobile{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background:white;
	border: 5px solid #FAFAFA;
	box-shadow: 0 2px 4px;
	margin-bottom:20px;

}
img.itemimage{
	max-width:100%;
	max-height:200px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border: 3px solid #ccc;
	margin-top:10px;
	margin-bottom:10px;
}
h2.mobiletitle{
	text-align:center;
}

a{
	text-decoration:none;
	color: #3498db
}
div.mobiletitlecontainer{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	max-height:200px;
	word-wrap:break-word;
}
div.mobileratingcontainer{
	width:170px;
	margin:auto
}
div.mobilethumbnailreviewcount{
	text-align:center
}
img.itemfeature{
	max-width:20px;
	margin-right:10px;
}
div.forkbutton{
	height:50px;
	width:50px;
	background:rgba(34, 25, 25, 0.4);
	border: 1px solid rgba(34, 25, 25, 0.4);
	border-radius:50%;
}

div.unforkbutton{
	
	height:50px;
	width:50px;
	background:#1f6a0a;
	border: 1px solid #1f6a0a;
	border-radius:50%;

}
div.forkcontainer{
	width:50px;
	margin-left:15px;
	margin-top:10px;
	float:left;

}
img.forkimage{
	margin-left:4px;
	margin-top:6px;
}
h3.forkcountheader{
	text-align:center;

}
div.itemaddressmobile{
	float:left;
	width:70%;
	margin-left:25px;

}
div.bottomcontainer{
	width:100%;
	height:115px;
	margin-top:15px;
}
span.mobileaddressinfotile{
display:block;
margin-left:5px
}

input.uploadfilebutton{
	opacity:0;
	height:50px;
}

div.ui-input-text{

	/*background: #2489ce url(/static/img/addpicture.png) no-repeat center;*/

}

div.addpicturecontainer{
	width:80%;
	margin: 0 auto;
	height:150px
}

div.mobileaddpicturebutton{
	z-index:0;
	position:absolute;
	top:0px;
	left:0px;
	width:250px;
	height:50px;
	background:#2489ce;
	color:white;
	font-size:25px;
	text-align:center;

}

input.mobileuploadfilebutton{
	z-index:9999;
	margin-top:10px;
	position:absolute;
	top:0px;
	left:0px;
	height:50px

}

span.addpicturetext{
	
	display:block;
	margin-top:12px;
	
}

div.mobileimageblock{
	width:80%; 
	margin:auto;
	margin-bottom:20px;
	
	}

ul.mobiletag{
	width:95%;
	border:3px solid #e3e3e3;
	margin-right:35px
}

textarea.mobilenewitemadd{
	width:100% !important;

}

input.mobileadditeminput{
	width:93% !important;
}

div.mobiledeletepicture{
	width:30px;
	height:30px;
	background:#ce1a02 ;
	color:white;
	text-align:center;
	font-size:15px;
	border-radius: 3px;
	position:relative;
}

span.deletebuttonspan{
	
}

div.successbutton{
		width:100%;
	height:50px;
	background:#5bb75b ;
	color:white;
	text-align:center;
	font-size:30px;
	border-radius: 3px;
	display:inline-block;


}

span.successbuttonspan{
	display: block;
margin-top: 12px;
}

div.mobileimagecontainer{
	float:left;
	width: 40%;
	margin-top:5px;
	text-align:center;
	
}
img.mobileitemimage{
	max-width:100%;
	max-height:300px;
	border:2px solid #e3e3e3;
	margin-left:5px;
}
div.mobileiteminfo{
	float:left;
	margin-left:20px;
	width:50%;
}
div.mobileitemname{
	line-height:1.5em;
	text-align:center;
	overflow:hidden;
	color: #3498db
}

span.reviewcountsingle{
	width:100%;
}

div.starratingcontainermobile{
	text-align:center;
}

div.itemsingleprice{
text-align:center;
}

div.itemfeaturessingle{
	float:left;
	width:49%;
}
span.itemsingledietary{
	font-size:x-small;
}
div.mobileitemcontainer{
	
	text-align:center;

	overflow:auto;
	
}
div.topiteminfocontainer{
	width:90%;
	margin:auto;
	background:white;
	border: 3px solid #e3e3e3;
	overflow:hidden;
}

span.textsmall{
	font-size:small;
}

h3.itemheader{
	text-align:center;margin-bottom:5px
}
div.ingredient{
	height:30px;
	background:#2489ce;
	float:left;
	max-width:100px;
	margin-left:20px;
	color:white;
	padding-left:10px;
	padding-right:10px;


}

div.usercompanycontainer{
	width:100%;
	overflow:auto;
}

div.itemcompanycontainer{
	float:left;

}

div.reviewcontainermobile{
	width:90%;
	border:3px solid #e3e3e3;
	margin-bottom:5px;
	background:white;
	margin:auto;
	overflow:hidden;
	
}
div.timereviewcontainer{
float:right;
text-align:right;
width:50%;
margin-right:10px;
}
div.usercontainer{
	float:left;
	text-align:left;
	width:40%;
	margin-left:10px;
}
div.reviewtopcontainer{
	overflow:auto;
	width:100%;


}
img.mobilereviewprofilepicture{
	max-width:30px;
	max-height:30px;
	margin-right:10px;
}
div.ratingcontainer{
	float:right;
	width:50%
}
div.reviewrecommended{
		background:#2489ce;
		padding-left:10px;
		padding-right:10px;
		color:white;
		margin-left:10px;
margin-bottom:10px;
width:150px;
}
div.recommendreview{
	background:#e6e6e6;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	margin-left:10px;
	width:150px;

}

p.commentsreviewbox{
	margin-left:10px;
}

#page1{
	min-height:600px;
}

span.addressspan{
	width:100%;
	display:block;
	margin-left:5px;
}

img.googlemapimage{
	width:100%;

	

}
div.googlemapcontainer{
	width:90%;
	margin:auto;
	border:3px solid #e3e3e3;
	margin-top:20px;
}

div.itemreviewedcontainer{
	margin-top: -25px;
}

h2.descriptionheader{
	text-align:center;
}
h3.noitemsfound{
	text-align:center;
}
div.searchtoprateditems, .searchhiddengemsitems, .searchcheapeatsitems, .searcheverythingitems{
	display:none
}
span.addressinfotile{
	width:100%;
	display:block;
}
h3.searchheader{
	text-align:center;
}
span.companynumberitemsposted{
	font-weight: bold;
}

a.viewfullsite{
	
}
div.viewfullsitecontainer{
	text-align:center;
	width:100%;
	margin-top:50px;
}

input.textinputlogin{
width:80%;
margin-left:10px !important;
}