{% extends "Mobile/mobilebase.html" %}
{% block base_content %}
{%load custom_filters%}
<h3 class = "searchheader">
Results for {{query}}
</h3>
<a href="/loadmore/mobile/company/2" id ="page-nav"></a>
<div id = "container">
	{% if companies != "None" %}
		{% for company in companies %}

	
				<div class="itemmobile ">
					<a href="/mobile/company/{{company.id}}">
						<img src ="{{MEDIA_URL}}{{company.companylogo}}" class= "itemimage">
					</a>	
					<hr>
					<div class=  "itemnameheader">
						<h2 class= "mobiletitle"><a href="/mobile/company/{{company.id}}"> {{company.companyname|safe}}</a></h2>
					</div>
					{%if company.phonenumber != 'null'%}	
					<h3 style = "text-align:center">{{company.phonenumber}}</h3>
					{%endif%}
					<span class="companyspandescription">{{company.address}}</span><br/>
					<span class="companyspandescription">{{company.municipal.name}}, {{company.city.provincestate}}</span><br/>
					<span class="companynumberitemsposted">{{company.itemsposted}} Items on Menu</span>
				</div>	
		
		{%endfor%}

	{%else%}
	<h3 class="noitemsfound"> We couldn't find any companies!</h3>
	{% endif %}



	

{% endblock base_content %}
{%block add_script %}
</script>
<script src="{{STATIC_URL}}js/masonry.pkgd.js"></script>
<script src= "{{STATIC_URL}}js/jquery.infinitescroll.min.js"></script>


<script>

$(document).ready(function(){
	var $container = $('#container');
	
	$container.infinitescroll({
		  debug        : false,
	  navSelector  : '#page-nav',    // selector for the paged navigation 
	  nextSelector : '#page-nav ',  // selector for the NEXT link (to page 2)
	  contentSelector : "#container",
	  itemSelector : '.itemmobile',     // selector for all items you'll retrieve
	  loading: {
	      
	      img: 'http://i.imgur.com/6RMhx.gif'
	    }
	  },function(newElements) {
	  	 var $newElems = jQuery( newElements ).hide(); // hide to begin with
            //Cufon.refresh();
            setTimeout(function() {

               $newElems.fadeIn(); // fade in when ready
 
    			$container.append ($newElems );
    			
	
            }, 200);
}
)
})

{%endblock add_script%}