{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<h2 style = "text-align:center"> {{company.companyname}} </h3>
</div>	

<div class= "topiteminfocontainer">
	<div class = "mobileimagecontainer">
		<img src = "{{MEDIA_URL}}{{company.companylogo}}" class= "mobileitemimage">
		<span style="font-weight:bold;font-size:small">{{company.itemsposted}} Item{%if company.itemsposted != 1%}s{%endif%} on the Menu </span>
	</div>	

	<div class= "mobileiteminfo">
			<h3 style = "text-align:center"><u>Contact</u></h3>

		<span class="addressspan">{{company.phonenumber}}</span>
		<span class="addressspan">{{company.address}}</span>
		<span class="addressspan">{{company.municipal.name}}, {{company.city.provincestate}}</span>
		<span class="addressspan">{{company.postalcode}}</span>
	</div>	
</div>	
<div class="googlemapcontainer">
	<img class="googlemapimage" onclick = "redirectGoogleMap('{{company.address}}','{{company.municipal.name}}','{{company.city.country}}')" src="http://maps.googleapis.com/maps/api/staticmap?center={% autoescape on %}
{{ company.address}},{% endautoescape %}{{company.municipal.name}},CA&zoom=15&size=400x200&sensor=false&markers=color:red%7C{% autoescape on %}{{ company.address }},{{company.municipal.name}},CA{% endautoescape %}" />
</div>

<div style='margin-top:30px'>
  <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-theme="c">
                <a href="/mobile/company/menu/{{company.id}}" rel=external data-transition="slide">
                    Menu
                </a>
            </li>  	
            <li data-theme="">
                <a href="/mobile/review/company/{{company.id}}" rel=external data-transition="slide">
                    Reviews
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/tips/company/{{company.id}}" rel=external data-transition="slide">
                    Tips
                </a>
            </li>

   </ul> 
  </div>         		 
{%endblock base_content%}