{% extends "Mobile/mobilebase.html" %}
{% block base_content %}
<div data-role="content">
		{% if user.is_authenticated %}
			<a data-role="button" data-theme="b" href="/mobile/additem" rel=external data-transition="slide">
	            Add Menu Item
	        </a>
	    {%else%} 
        <div data-role="navbar" data-iconpos="right">
            <ul>
                <li>
                    <a href="/mobile/signup" data-transition="fade"  rel=external data-theme="e" data-icon="" rel=external>
                        Sign Up
                    </a>
                </li>
                <li>
                    <a href="/mobile/login" data-transition="fade" rel=external data-theme="b" rel=external data-icon="">
                        Login
                    </a>
                </li>
            </ul>
        </div>
        {%endif%}
        
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-theme="">
                <a href="/mobile/featured" rel=external data-transition="slide">
                    Featured Items
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/toprated" rel=external data-transition="slide">
                    Top Rated Items
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/hiddengems" rel=external data-transition="slide">
                    Hidden Gems
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/cheapeats" rel=external data-transition="slide">
                    Cheap Eats
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/everything" rel=external data-transition="slide">
                    Everything
                </a>
            </li>
        </ul>
        <div data-role="fieldcontain">
            <input name="" id="mobilesearch" class="mobilesearch"  placeholder="Item, Ingredient or Company"  type="search">
        </div>
      
<fieldset data-role="controlgroup">
 
        <input type="radio" name="radio-choice" id="Item" class= "querytyperadio" value="Item" checked="checked" />
        <label for="Item">Item</label>

        <input type="radio" name="radio-choice" class= "querytyperadio" id="Ingredient" value="Ingredient"  />
        <label for="Ingredient">Ingredient</label>

        <input type="radio" class= "querytyperadio" name="radio-choice" id="Company" value="Company"  />
        <label for="Company">Company</label>
</fieldset>
<div class="viewfullsitecontainer">
    <a href ="/" class="viewfullsite" rel=external>View Full Site </a>
</div>
    </div>
{% endblock base_content %}
