{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<div class='itemcompanycontainer'>
		<h3>By: <a href="/mobile/company/{{item.companyinfo.id}}" rel=external data-transition="slide">{{item.companyinfo.companyname|safe}}</a></h3>
	</div>
	<div class= "itemusercontainer">
	</div>	
</div>	
<div class= "topiteminfocontainer">
	<div class = "mobileimagecontainer">
		<img src = "{{MEDIA_URL}}{{item.mainitemimage.url}}" class= "mobileitemimage">
	</div>	

	<div class= "mobileiteminfo">
		<div class="mobileitemname">
			<h2>{{item.name}}</h2>
		</div>

	{% if item.reviewcount != 0 %}
		<div class= "starratingcontainermobile">
			<div class= "starrating">
			{% for i in item.rating|get_range %}
					<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			{%for i in numunfilledstars|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/starunfilled.png">
			{%endfor%}
		</div>
					<span class= "reviewcountsingle"> {{item.reviewcount}} review{%if item.reviewcount != 1 %}s{%endif%}</span>
		

		</div>
		{% endif %}
				<div class ="itemsingleprice">
					{%if item.price %}
						<h2 >${{item.price}} </h2>
					{% else %}
						<h5> No Price Listed</h5>		
	{%endif%}	
		</div>
				<div style="width:100%">
			{% if item.fatfree%}
					<div class="itemfeaturessingle">
						<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"><span class="itemsingledietary">Fat Free</span>
					</div>	
				{%endif%}
				{% if item.glutenfree%}
				<div class="itemfeaturessingle">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"></i><span class="itemsingledietary">Gluten Free</span>
				</div>	
				{%endif%}
				{% if item.vegan%}
				<div class="itemfeaturessingle">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"></i><span class="itemsingledietary">Vegan</span>
				</div>	
				{%endif%}
				{% if item.peanutfree%}
				<div class="itemfeaturessingle">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"></i><span class="itemsingledietary">Peanut Free</span>
				</div>	
				{%endif%}
				{% if item.lactosefree%}
				<div class="itemfeaturessingle">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"><span class="itemsingledietary">Lactose Free </span>
				</div>	
				{%endif%}
				{% if item.vegetarian%}
				<div class="itemfeaturessingle">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg"><span class="itemsingledietary">Vegetarian</span>
				</div>	
				{%endif%}
			</div>
			
	</div>	
</div>	

<div class="mobileitemcontainer" style ="margin-top:20px;">
	<h3 class="itemheader"><u>Description</u></h3>
	{% if item.description != "" %}
		<span class= "textsmall">{{item.description}}</span>
		{% else %}
		<span class= "textsmall">No Description was provided<span>
		{%endif%}
</div>		
<div class= "mobileitemcontainer" >
<h3 class="itemheader"><u>Ingredients</u></h3>
		{%if itemtags.count == 0 %}
		<span class= "textsmall">No ingredients were added to this item!</span>
		{%else%}
		<p>{% for tag in itemtags %}
		<a href="/search?q={{tag.ingredient}}&category=Ingredient" rel=external style="color:white !important">
				<div class='ingredient'>{{tag.ingredient}}</div>
			</a>	
		   {%endfor%}
		 </p>
		 {%endif%}
</div>
<div style='margin-top:30px'>
  <ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-theme="">
                <a href="/mobile/review/item/{{item.id}}" rel=external data-transition="slide">
                    Reviews
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/tips/item/{{item.id}}" rel=external data-transition="slide">
                    Tips
                </a>
            </li>
            <li data-theme="c">
                <a href="/mobile/morepictures/{{item.id}}" rel=external data-transition="slide">
                    More Pictures
                </a>
            </li>
   </ul> 
  </div>         		 
{%endblock base_content %}
