{% for company in items %}

	
				<div class="itemmobile ">
					<a href="/mobile/company/{{company.id}}">
						<img src ="{{MEDIA_URL}}{{company.companylogo}}" class= "itemimage">
					</a>	
					<hr>
					<div class=  "itemnameheader">
						<h2 class= "mobiletitle"><a href="/mobile/company/{{company.id}}"> {{company.companyname|safe}}</a></h2>
					</div>
					{%if company.phonenumber != 'null'%}	
					<h3 style = "text-align:center">{{company.phonenumber}}</h3>
					{%endif%}
					<span class="companyspandescription">{{company.address}}</span><br/>
					<span class="companyspandescription">{{company.municipal.name}}, {{company.city.provincestate}}</span><br/>
					<span class="companynumberitemsposted">{{company.itemsposted}} Items on Menu</span>
				</div>	
		
		{%endfor%}
