{% extends "Mobile/mobilebase.html" %}
{%block base_content%}
 <form class = "form-horizontal" id= "loginform" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
    {%if errormessage%}<h3 style="color:red;text-align:center">{{errormessage}} </h3>{%endif%}
<div data-role="fieldcontain">
   
            <input name="email" id="textinput1" placeholder="Username" value="" type="text" class="textinputlogin" required>
        </div>
        <div data-role="fieldcontain">
            <input name="password" id="textinput2" placeholder="Password" value="" type="password" class="textinputlogin" required>
        </div>
        <input type="submit" value="Login">
       </form> 
    </div>
{%endblock base_content%}    