{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<h2 style = "text-align:center"> Menu </h3>
</div>	

<h3>
	Company: <a href="/mobile/company/{{company.id}}" rel=external data-transition="slide">{{company.companyname}}</a>
</h3>
<div id = "container">
	{%if items.count == 0%}		
	<h2 class="noitemsfound">No Menu Items Have Been Added</h2>
	{%else%}
	{%for item in items%}

	<div class= "itemmobile">
		<div class= "itemimagecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<img class="itemimage" src="{{MEDIA_URL}}{{item.mainitemimage.url}}">
			</a>	
		</div>
		<hr>
		<div class="mobiletitlecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<h2 class= "mobiletitle">{{item.name}}</h2>
			</a>
		</div>
		{%if item.reviewcount != 0 %}
				 <div class= "mobileratingcontainer">
				 	{% for i in item.rating|get_range %}
					<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
					{%endfor%}
					<div class="mobilethumbnailreviewcount">
						<span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span>
					</div>
				</div>
				{% if item.price %}
					<h2 style="text-align:center" >${{item.price}}</h2>
				{%else%}
					<h4 style = "text-align:center">No Price Listed</h4>
				{%endif%}		
				{% if item.fatfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					fat free
				</div>	
				{%endif%}
				{% if item.glutenfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					gluten free
				</div>	
				{%endif%}
				{% if item.vegan%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				vegan
				</div>	
				{%endif%}
				{% if item.peanutfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				peanut free
				</div>	
				{%endif%}
				{% if item.lactosefree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					lactose free 
				</div>	
				{%endif%}
				{% if item.vegetarian%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					vegetarian
				</div>	
				{%endif%}

		{%endif%}		
		
		<div class="bottomcontainer">
			<div class= "forkcontainer">
		{% if user in item.forkedby.all%}
					<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">

					</div>	
				
					{%else%}
					<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">
							
					</div>

			{%endif%}
				<h3 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h3>
				</div>	
				<div class= "itemaddressmobile">
					<a href= "/mobile/company/{{item.companyinfo.id}}">
						<span class="mobiletilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:30|safe }}</span>
					</a>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.address}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.city.country}}</span>
				</div>

			</div>
		

	


</div>	
{%endfor%}
{%endif%}
{%endblock base_content%}
