{% load custom_filters %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>
{%block add_title %}
{%endblock add_title %}
  </title>
  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile-1.3.1.min.css">

  <link href="{{ STATIC_URL }}css/mobilestyle.css" rel="stylesheet" />

  {%block add_styles%}
  {%endblock add_styles%}
  
  <!-- Extra Codiqa features -->
  <link rel="stylesheet" href="codiqa.ext.css">
  
  <!-- jQuery and jQuery Mobile -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
  <!-- Extra Codiqa features -->
  <!-- <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script> !-->
   
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
    <a href="/mobile/" rel=external data-transition="slide">
                    Home
                </a>
				<img class= "imageheader" src="http://wherethefork.s3.amazonaws.com/photos/static/wherethefork.png" alt="" />	
    </div>
    {%block base_content%}
    
{%endblock base_content%}
</div>



</body>
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/mobilejs.js"></script>
<script>
{%block add_script%}
{%endblock add_script%}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45111837-1', 'wherethefork.com');
  ga('send', 'pageview');

</script>
</html>
