{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<h2 style = "text-align:center"> More Pictures </h3>
</div>	

<h3>
	Pictures For: <a href="mobile/items/{{item.id}}" rel=external data-transition="slide">{{item.name}}</a>
</h3>

{%if itemimages.count == 0 %}
	<h3 style = "text-align:center;"> No more pictures have been added</h3>
	{%else%}
	{%for image in itemimages%}
	<div class= "itemmobile">
		<h4>Taken By:
			<img class="mobilereviewprofilepicture" src="{{MEDIA_URL}}{{image.postedby.profilepictureurl}}">
		       	{{image.postedby.firstname}} {{image.postedby.lastname}}</h4>
			<div class= "itemimagecontainer">
					<img class="itemimage" src="{{MEDIA_URL}}{{image.url}}">
			</div>
	</div>		
	{%endfor%}		
{%endif%}
{% endblock base_content %}
