{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<h2 style = "text-align:center"> Reviews </h3>
</div>	
{% if reviewtype == "item"%}
	<h3>
	Item Reviewed : <a href="mobile/items/{{item.id}}" rel=external>{{item.name}}</a>
</h3>
{%elif reviewtype == "company"%}
{%endif%}



{%if reviews.count == 0 %}
<h3 style = "text-align:center;"> No reviews have been added!</h3>
{%else%}
{%for userreview in reviews%}
	<div class = "reviewcontainermobile">

			<div class="reviewtopcontainer">
				<div class= "timereviewcontainer">		
					<span class="textsmall"> {{userreview.dateadded}}</span>
				</div>	
				<div class="ratingcontainer">
				{% for i in userreview.rating|get_range %}
				<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
				{%endfor%}
			</div>
				<div class = "usercontainer">
					<h3 class="userreviewheader"><img class="mobilereviewprofilepicture" src="{{MEDIA_URL}}{{userreview.userinfo.profilepictureurl}}"> {{userreview.postedby.first_name}} {{userreview.postedby.last_name}}</h3>
				</div>
			</div>	
			
		
			{%comment%} If we are loading reviews for the company {%endcomment%}
			{%if reviewtype == "company" %}
				<div class="itemreviewedcontainer">
					<h4>Item Reviewed- <a href="/items/single/{{userreview.item.id}}">{{userreview.item.name}}</a></h4>
				</div>	
			{%endif%}
			<div class= "commentcontainer">
				{% if userreview.comments != None%}
				<p class= "commentsreviewbox">{{userreview.comments}}</p>
				
			</div>
			
			<div class = "markreviewuseful">
				{%comment%}If user has already recommeneded tip, then show different button {%endcomment%}
							{%endif%}	
			</div>
	</div>
	{%endfor%}
{%endif%}

		</div>	


{%endblock base_content%}
	
