{% extends "Mobile/mobilebase.html" %}
{% block base_content %}
{%load custom_filters%}
<h3> Results for <strong>"{{query}}"</strong> </h3>
 <div data-role="fieldcontain">
            <select id="selectmenu" name="">
                <option value="Featured">
                    Featured
                </option>
                <option value="TopRated">
                    Top Rated
                </option>
                <option value="HiddenGems">
                    Hidden Gems
                </option>
                <option value="CheapEats">
                    Cheap Eats
                </option>
                <option value="Everything">
                    Everything
                </option>
            </select>
  </div>
<div class="searchfeatureditems" >
	<h2 class="descriptionheader"> Featured Items </h2>
{% if isfeatureditems == None%}
<h3 class="noitemsfound">We could not find any items.</h3>
{%else%}
<div class= "searchfeaturedcontainer">
{%for item in featureditems%}

	<div class= "itemmobile">
		<div class= "itemimagecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<img class="itemimage" src="{{MEDIA_URL}}{{item.mainitemimage.url}}">
			</a>	
		</div>
		<hr>
		<div class="mobiletitlecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<h2 class= "mobiletitle">{{item.name}}</h2>
			</a>
		</div>
		{%if item.reviewcount != 0 %}
				 <div class= "mobileratingcontainer">
				 	{% for i in item.rating|get_range %}
					<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
					{%endfor%}
					<div class="mobilethumbnailreviewcount">
						<span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span>
					</div>
				</div>
				{% if item.price %}
					<h2 style="text-align:center" >${{item.price}}</h2>
				{%else%}
					<h4 style = "text-align:center">No Price Listed</h4>
				{%endif%}		
				{% if item.fatfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					fat free
				</div>	
				{%endif%}
				{% if item.glutenfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					gluten free
				</div>	
				{%endif%}
				{% if item.vegan%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				vegan
				</div>	
				{%endif%}
				{% if item.peanutfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				peanut free
				</div>	
				{%endif%}
				{% if item.lactosefree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					lactose free 
				</div>	
				{%endif%}
				{% if item.vegetarian%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					vegetarian
				</div>	
				{%endif%}

		{%endif%}		
		
		<div class="bottomcontainer">
			<div class= "forkcontainer">
		{% if user in item.forkedby.all%}
					<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">

					</div>	
				
					{%else%}
					<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">
							
					</div>

			{%endif%}
				<h3 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h3>
				</div>	
				<div class= "itemaddressmobile">
					<a href= "/mobile/company/{{item.companyinfo.id}}" rel=external>
						<span class="mobiletilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:30|safe }}</span>
					</a>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.address}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.city.country}}</span>
				</div>

			</div>
		

	


</div>	
{%endfor%}
</div>
<a data-role="button" data-transition="none" data-theme="b" class="searchloadmore" id ="featured">
		             Load More
	</a>
	
{%endif%}
</div>

<div class="searchtoprateditems" >
	<h2 class="descriptionheader"> Top Rated Items </h2>
	<div class="searchtopratedcontainer">
	</div>
	 <a data-role="button" data-transition="none" data-theme="b" class="searchloadmore" id ="toprated">
		             Load More
	</a>
</div>
<div class="searchhiddengemsitems" >
	<h2 class="descriptionheader"> Hidden Gems </h2>
	<div class="searchhiddengemscontainer">
	</div>
<a data-role="button" data-transition="none" data-theme="b" class="searchloadmore" id ="hiddengems">
		             Load More
	</a>
</div>	
<div class="searchcheapeatsitems" >
	<h2 class="descriptionheader"> Cheap Eats </h2>
	<div class="searchcheapeatscontainer">
	</div>
<a data-role="button" data-transition="none" data-theme="b" class="searchloadmore" id ="cheapeats">
		             Load More
	</a>
</div>	
<div class="searcheverythingitems" >
	<h2 class="descriptionheader"> Everything</h2>
	<div class="searcheverythingcontainer">
	</div>
	<a data-role="button" data-transition="none" data-theme="b" class="searchloadmore" id ="everything">
		             Load More
	</a>

</div>	
		
<input type ="hidden" id = "featureditemspage" value = 1>
<input type ="hidden" id = "topratedpage" value = 1>
<input type ="hidden" id = "hiddengemspage" value = 1>
<input type ="hidden" id = "cheapeatspage" value = 1>
<input type ="hidden" id = "everythingpage" value = 1>
{%endblock base_content%}
