{% extends "Mobile/mobilebase.html" %}
{%block base_content%}
<form class = "form-horizontal" id= "loginform" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    
<div data-role="fieldcontain">
    {%if errormessage%}<h3 style="color:red;text-align:center">{{errormessage}} </h3>{%endif%}
            <input name="email" id="textinput1" placeholder="Username" value="" type="text" class="textinputlogin" required>
        </div>
        <div data-role="fieldcontain">
            <input name="password" id="textinput2" placeholder="Password" value="" type="password" class="textinputlogin" required>
        </div>
        <div data-role="fieldcontain">
            <input name="confirmpassword" id="textinput2" placeholder="Password" value="" type="password" class="textinputlogin" required>
        </div>
        <div data-role="fieldcontain">
            <input name="firstname" id="textinput1" placeholder="First Name" value="" type="text" class="textinputlogin" required>
        </div>
        <div data-role="fieldcontain">
            <input name="lastname" id="textinput1" placeholder="Last Name" value="" type="text" class="textinputlogin" required>
        </div>
        <input type="submit" value="Signup">
       </form> 
    </div>
{%endblock base_content%}    