{% extends "Mobile/mobilebase.html" %}
{% load custom_filters %}
{% block base_content %}
<div class="usercompanycontainer">
	<h2 style = "text-align:center"> Tips </h3>
</div>	
{% if tiptype == "item"%}
	<h3>
	Tips For : <a href="/mobile/items/{{item.id}}" rel=external>{{item.name}}</a>
</h3>
{%elif tiptype == "company"%}
{%endif%}



{%if tips.count == 0 %}
<h3 style = "text-align:center;"> No tips have been added!</h3>
{%else%}
{%for tip in tips%}
	<div class = "reviewcontainermobile">

			<div class="reviewtopcontainer">
				<div class= "timereviewcontainer">		
					<span class="textsmall"> {{tip.dateposted}}</span>
				</div>	
				<div class = "usercontainer">
					<h3 class="userreviewheader"><img class="mobilereviewprofilepicture" src="{{MEDIA_URL}}{{userreview.userinfo.profilepictureurl}}"> {{tip.postedby.first_name}} {{tip.postedby.last_name}}</h3>
				</div>
			</div>	
			
		
			{%comment%} If we are loading reviews for the company {%endcomment%}
			{%if tiptype == "company" %}
				<div class="itemreviewedcontainer">
					<h4>Tip For:- <a href="/items/single/{{userreview.item.id}}">{{tip.item.name}}</a></h4 >
				</div>	
			{%endif%}
			<div class= "commentcontainer">
				{% if tip.tip != None%}
				<p class= "commentsreviewbox">{{tip.tip}}</p>
				
			</div>
			
			<div class = "markreviewuseful">
				{%comment%}If user has already recommeneded tip, then show different button {%endcomment%}
							{%endif%}	
			</div>
	</div>
	{%endfor%}
{%endif%}

		</div>	
{%endblock base_content%}
