{% extends "Mobile/mobilebase.html" %}
{% block base_content %}
{%load custom_filters%}
<h2 class = "mobileheader">
{% if findtype == "featured"%}
		Featured Items
	{%elif findtype == "toprated"%}
		Top Rated Items
	{%elif findtype == "hiddengems"%}
		Hidden Gems	
	{%elif findtype == "cheapeats"%}
		Cheap Eats
	{%elif findtype == "everything"%}
		Everything
	{%endif%}
</h2>
		<a href="/loadmore/mobile/{{findtype}}/2" id ="page-nav"></a>
<div id = "container">
	{%for item in items%}

	<div class= "itemmobile">
		<div class= "itemimagecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<img class="itemimage" src="{{MEDIA_URL}}{{item.mainitemimage.url}}">
			</a>	
		</div>
		<hr>
		<div class="mobiletitlecontainer">
			<a href="/mobile/items/{{item.id}}" rel=external data-transition="slide">
				<h2 class= "mobiletitle">{{item.name}}</h2>
			</a>
		</div>
		{%if item.reviewcount != 0 %}
				 <div class= "mobileratingcontainer">
				 	{% for i in item.rating|get_range %}
					<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
					{%endfor%}
					<div class="mobilethumbnailreviewcount">
						<span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span>
					</div>
				</div>
				{% if item.price %}
					<h2 style="text-align:center" >${{item.price}}</h2>
				{%else%}
					<h4 style = "text-align:center">No Price Listed</h4>
				{%endif%}		
				{% if item.fatfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					fat free
				</div>	
				{%endif%}
				{% if item.glutenfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					gluten free
				</div>	
				{%endif%}
				{% if item.vegan%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				vegan
				</div>	
				{%endif%}
				{% if item.peanutfree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
				peanut free
				</div>	
				{%endif%}
				{% if item.lactosefree%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					lactose free 
				</div>	
				{%endif%}
				{% if item.vegetarian%}
				<div class="itemfeatures">
					<img class="itemfeature" src ="{{STATIC_URL}}img/tick.jpg">
					vegetarian
				</div>	
				{%endif%}

		{%endif%}		
		
		<div class="bottomcontainer">
			<div class= "forkcontainer">
		{% if user in item.forkedby.all%}
					<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">

					</div>	
				
					{%else%}
					<div class= "forkbutton {%if user.is_anonymous %}forknotloggedin{%endif%}" id = "fork{{item.id}}"  itemname = "{{item.id}}" data-tooltip = "#mustbeloggedin">
						<img class = "forkimage" src ="{{STATIC_URL}}img/forkmobile.png">
							
					</div>

			{%endif%}
				<h3 id = "forkedcountheader{{item.id}}" class= "forkcountheader"  >{{item.forkedcount}}</h3>
				</div>	
				<div class= "itemaddressmobile">
					<a href= "/mobile/company/{{item.companyinfo.id}}" rel=external>
						<span class="mobiletilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:30|safe }}</span>
					</a>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.address}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
					<span class= "mobileaddressinfotile" >{{item.companyinfo.city.country}}</span>
				</div>

			</div>
		

	


</div>	
{%endfor%}
{% endblock base_content %}
{%block add_script %}
</script>
<script src="{{STATIC_URL}}js/masonry.pkgd.js"></script>
<script src= "{{STATIC_URL}}js/jquery.infinitescroll.min.js"></script>


<script>

$(document).ready(function(){
	var $container = $('#container');
	
	$container.infinitescroll({
		  debug        : false,
	  navSelector  : '#page-nav',    // selector for the paged navigation 
	  nextSelector : '#page-nav ',  // selector for the NEXT link (to page 2)
	  contentSelector : "#container",
	  itemSelector : '.itemmobile',     // selector for all items you'll retrieve
	  loading: {
	      
	      img: 'http://i.imgur.com/6RMhx.gif'
	    }
	  },function(newElements) {
	  	 var $newElems = jQuery( newElements ).hide(); // hide to begin with
            //Cufon.refresh();
            setTimeout(function() {

               $newElems.fadeIn(); // fade in when ready
 
    			$container.append ($newElems );
    			
	
            }, 200);
}
)
})

{%endblock add_script%}