{%extends "base.html" %}
{% block add_title %}
<title>Add Tip for {{item.name}}</title>
{% endblock add_title %}
{% block base_content %}
{% load custom_filters %}
<div class ="row">
	<div class = "heading">
			<h3><span>Add a Tip!</span></h3>
	</div>
</div>



	<div  style = "width:50%;margin: 0 auto;">
		<h3> Company: <a href = "/users/{{item.postedby.id}}"> {{company.companyname|safe}}</a></h3> 
			<h3> Item: <a href = "/items/single/{{item.id}}">{{item.name}}</a></h3>
	
		<form class = "form-horizontal" id= "reviewform"  method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<ul class= "contact-list">

				<li>
				<textarea rows="4" id ="tip" name = "tip" placeholder="Write a Tip" style = "width:554px" ></textarea>
				</li>	
			</ul>
			<input type="submit" class = "btn btn-success" value ="Add Tip"></input>
		</form>
	</div>



{%endblock base_content %}
