{%extends "base.html" %}
{% block add_title %}
<title>Edit Item - {{item.name}}</title>
{% endblock add_title %}
{% block add_styles%}
<link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet" />
{%endblock add_styles %}

{% block base_content %}
{% load custom_filters %}
<div class ="row">
	<div class = "heading">
		<h3><span>Edit Item</span></h3>
	</div>
</div>

{% if previousrequest %}
<h2 style = "text-align:center">Your edit request is under review</h2>
{%else%}
	<div  style = "width:50%;margin: 0 auto;">
		<h4><a href= "/items/single/{{item.id}}"> {{item.name}}</a>
			<img class= "itemheadersmall"  src="{{MEDIA_URL}}{{item.mainitemimage.url}}">
		</h4>

	
		<form class = "form-horizontal" id= "editform"  method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<ul class= "contact-list">
				<li>
					<label>Name</label>
					<input type="text" class="edititeminput"  value ="{{item.name}}" placeholder = "Name" required name = "name"></input>
				</li>
				<li>
					<label>Price</label>
					<input type="text" class="edititeminput"  value ="{%if item.price %} {{item.price}}{%endif%}" placeholder="Price" name = "price"></input>
				</li>	
				<li>
					<label>Category</label>
					<select data-placeholder="Choose a Category" class= "form_input category"  style="width:230px" id = "category{{item.id}}" name="category"  item-input={{item.id}}>
						<option><option>
						<optgroup label ="Cuisine">
						{% for food in foods %}
						<option value = "{{food.foodtype}}" {%if item.category == food.foodtype%}selected{%endif%}>{{food.foodtype}}</option>
						{%endfor%}
					</optgroup>

						<optgroup label ="Desserts">
						{% for dessert in desserts %}
						<option value = "{{dessert.foodtype}}" {%if item.category == dessert.foodtype%}selected{%endif%}>{{dessert.foodtype}}</option>
						{%endfor%}
					</optgroup>
					<optgroup label ="Bakery Goods">
						{% for bakerygood in bakerygoods %}
						<option value = "{{bakerygood.foodtype}}" {%if item.category == bakerygood.foodtype%}selected{%endif%}>{{bakerygood.foodtype}}</option>
						{%endfor%} 
					</optgroup>
					<optgroup label = "Drinks">
						{% for drink in drinks %}
						<option value = "{{drink.foodtype}}" {%if item.category == drink.foodtype%}selected{%endif%}>{{drink.foodtype}}</option>
						{%endfor%}

					</optgroup>	
					</select>
				</li>
				<li>
					<label>Description</label>
					<textarea rows="2" class= "descriptionedit" name = "description">{{item.description}}</textarea>
				</li>
			</ul>
				<div class="checkboxadddivedit">
					<span class= "checkboxspan"><input type = "checkbox" id = "glutenfree{{item.id}}" item-input={{item.id}} name = "glutenfree" {%if item.glutenfree%} checked {%endif%} > Gluten Free</input></span>
				<span class= "checkboxspan" ><input type = "checkbox" id  = "fatfree{{item.id}}" item-input={{item.id}} name= "fatfree" {%if item.fatfree%} checked {%endif%}> Fat Free</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id ="peanutfree{{item.id}}"  item-input={{item.id}} name = "peanutfree" {%if item.peanutfree%} checked {%endif%}> Peanut Free</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "vegan{{item.id}}"  item-input={{item.id}} name = "vegan" {%if item.vegan%} checked {%endif%}> Vegan</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "vegetarian{{item.id}}"  item-input={{item.id}} {%if item.vegetarian%} checked {%endif%}> Vegetarian</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "lactosefree{{item.id}}"  item-input={{item.id}} name = "vegan"  {%if item.glutenfree%} checked {%endif%}> Lactose Free</input></span>
			</div>
			<div class="editrequestbuttoncontainer" style="width:100%">

			<input type="submit" class = "btn btn-success" value ="Submit Edit Request"></input><span class="subscripttext" >Note: It May Take a Couple of Days to Process Edit Request</span>
		</div>
		</form>
	</div>
	{%endif%}
{%endblock base_content %}
{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chosen.jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('.category').chosen({}
	);})
</script>
{%endblock add_script %}
