{% load custom_filters %}


{%if itemtips.count == 0 %}
<h3 style = "text-align:center"> No Tips Have Been Written!</h3>
{%else%}
{%for itemtip in itemtips%}
<div class = "itemtipcontainer">
		<div class= "timereviewcontainer">
			<span class="datereview"> {{itemtip.dateposted}}</span>
		</div>	
		<div class = "usercontainer">

          {% if loadtype == "item" or loadtype == "company"%}
				<h5><a style="margin-left:10px" href ="/users/user/{{itemtip.postedby.id}}"><img class="tipprofilepicture" src="{{MEDIA_URL}}{{itemtip.userinfo.profilepictureurl}}"><a  href ="/users/user/{{itemtip.postedby.id}}"> {{itemtip.postedby.first_name}} {{itemtip.postedby.last_name}}</a></h5>
	{%endif%}				
	{% if loadtype == "user"  or loadtype == "company"%}
			<h5 class="userreviewheader">Tip for Item: 
			<a style="margin-left:10px" href ="/items/single/{{itemtip.item.id}}"> {{itemtip.item.name}}</a></h5>
			{%endif%}
		</div>
		<div class= "commentcontainer">
			<p class= "commentsreviewbox">{{itemtip.tip}}</p>
		</div>
		<div class="itemtipmarkuseful">
			{%comment%}If user has already recommeneded tip, then show different button {%endcomment%}
			{% if user.is_authenticated %}
				{% if user in itemtip.recommendedby.all %}
				<button class="btn btn-small btn-primary recommendtipbutton" id = "recommendtip{{itemtip.id}}" name ="{{itemtip.id}}" >Tip Recommended</button>
				{%else%}
				<button class="btn btn-small recommendtipbutton" id = "recommendtip{{itemtip.id}}" name ="{{itemtip.id}}" >Recommend Tip</button>
				{%endif%}
			{%endif%}	
		<span class="numberusefulitemtip"><span id = "numrecommended{{itemtip.id}}">{{itemtip.numrecommends}}</span> users recommend this tip </span>
		</div>
	</div>
	{%endfor%}
{%endif%}
