{% load custom_filters %}
	{%for item in itemimages%}
		<!--<div class="foodthumbnail"> -->
		<div class= "item0">
			<h5>Posted By</h5> 
			<h5><a href = "/users/user/{{item.postedby.id}}">{{item.postedby.first_name}} {{item.postedby.last_name}}</a></h5>
			<hr>
			<div class= "imagecontainer" id = "{{item.item.id}}">
				<img class= "thumbnailimage framemainpageload itemframeload" src="{{MEDIA_URL}}{{item.url}}" id={{item.item.id}} >
				</div>
			</div>
	{%endfor%}
