

{%extends "base.html"%}
{% block add_title %}
<title> Add New Items </title>
{% endblock add_title %}
{% block add_styles%}
<link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{{STATIC_URL}}css/jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock add_styles%}

{%block base_content%}
<input type = "hidden" id = "itemscount" value = "{{items.count}}">
<div class= "itemframe"></div>

<div class ="row">
	<div class = "heading" style = "position:relative">
		<h3><span>Add a Menu Item</span></h3>
	</div>
</div>

{% if errormessage == None%}
{%else%}
<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
	</div>
{% endif %}

<form class = "form-horizontal" id= "addpictureform" method = "post" enctype="multipart/form-data">
	<div  style = "width:50%;margin: 0 auto;">

	{% csrf_token %}
		<input type ="hidden" id="isuploadpicture" name = "isuploadpicture">
		<input type = "hidden" id = "nextaction" name = "nextaction">
			<ul class= "contact-list">
				<li>
					<h2>Step One: Add Pictures</h4>
					<div class= 'fileuploadcontainer'>
						<input style="margin-top:10px" class='filebutton btn'  type = "file" id = "uploadpictures" name ="uploadpictures" multiple>
						<button class="btn btn-primary fakefile" class="fakefileupload">Upload Pictures</button>
					</div>	

				</li>
			</ul>
	</div>
</form>

{% for item in items%}
	{% if forloop.counter0|divisibleby:"4"%}<div class= "row" >{%endif%}

	
				<div class="span3 imageblock "  id = "itemdiv{{item.id}}">
					<div style="width:100%;text-align:right">
						<button class = "btn btn-small btn-danger deletepicturebutton" name ={{item.id}}>X</button>
					</div>
						<img class= "imageadded" src ="{{MEDIA_URL}}{{item.url}}">
					<hr>
					<input type ="hidden" id="itemtags" name = "itemtags">
					<h5 style='text-align:center'> Step 2: Add Company Name</h5>
					<input type = "hidden" id = "companydata{{item.id}}">
					<input type = "text" class = "form_input additeminput companychoose" id = "companychoose{{item.id}}" name = "company" required placeholder = "Company Name" itemno = {{item.id}}>
					<div class="companysuggestion" id = "companysuggestion{{item.id}}" ></div>
					<div id= "itemname{{item.id}}" style= "display:none">
						<h5 style='text-align:center'> Step 3: Add Item Name</h5>
						<input type ="text" class= "form_input additeminput itemchoose"  id = "name{{item.id}}" name="name" required placeholder="Name"    item-input={{item.id}} itemno = {{item.id}} disabled>
						<div class="itemsuggestion" id = "itemsuggestion{{item.id}}" ></div>
						<div id="noitemfound{{item.id}}"style ="width:100%;text-align:center"><span class="noitemfound" itemno = "{{item.id}}">Can't Find Item?</span></div>
					</div>
					
					<div id ="additem{{item.id}}" class = "addnewitemdiv" style = "display:none">
						<span style= "color:red;margin-left:40px;display:none" id = "error{{item.id}}"></span>
					<select data-placeholder="Choose a Category" class= "form_input additeminput category"  style="margin-left:20px;width:90px" id = "category{{item.id}}" name="category"  item-input={{item.id}}>
						<option><option>
						<optgroup label ="Cuisine">
						{% for food in foods %}
						<option value = "{{food.foodtype}}">{{food.foodtype}}</option>
						{%endfor%}
					</optgroup>

						<optgroup label ="Desserts">
						{% for dessert in desserts %}
						<option value = "{{dessert.foodtype}}">{{dessert.foodtype}}</option>
						{%endfor%}
					</optgroup>
					<optgroup label ="Bakery Goods">
						{% for bakerygood in bakerygoods %}
						<option value = "{{bakerygood.foodtype}}">{{bakerygood.foodtype}}</option>
						{%endfor%} 
					</optgroup>
					<optgroup label = "Drinks">
						{% for drink in drinks %}
						<option value = "{{drink.foodtype}}" {%if item.category == drink.foodtype%}selected{%endif%}>{{drink.foodtype}}</option>
						{%endfor%}

					</optgroup>



					</select>
					<input type = "text" class= "form_input additeminput" id = "price{{item.id}}" name = "price"  placeholder="Price(ex 9.99) optional" pattern = "^\d+(.\d{1,2})?"    item-input={{item.id}}>	
				
					<textarea   class = "additeminput" id="description{{item.id}}" name = "description" placeholder= "Add a description (optional)"  rows=2 item-input={{item.id}}></textarea>
				
					<ul id="myTags{{forloop.counter}}" name ="tagitlist" style= "margin-left:22px;border:3px solid #e3e3e3;margin-right:35px" class="tagitlist{{item.id}}">
					{% for tag in tags%}
					<li>{{tag}}</li>
					{%endfor%}
				</ul>
				<div class="checkboxadddiv">
				<span class= "checkboxspan"><input type = "checkbox" id = "glutenfree{{item.id}}" item-input={{item.id}} > Gluten Free</input></span>
				<span class= "checkboxspan" ><input type = "checkbox" id  = "fatfree{{item.id}}" item-input={{item.id}}> Fat Free</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id ="peanutfree{{item.id}}"  item-input={{item.id}}> Peanut Free</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "vegan{{item.id}}"  item-input={{item.id}}> Vegan</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "vegetarian{{item.id}}"  item-input={{item.id}}> Vegetarian</input></span>
				<span class= "checkboxspan"><input type = "checkbox" id = "lactosefree{{item.id}}"  item-input={{item.id}}> Lactose Free</input></span>
			</div>
			 	</div>
			 	<div id ="itemexists{{item.id}}">

			 	</div>	
			 	<div class="reviewstipsdiv" id ="reviewstipsdiv{{item.id}}" style="display:none;">
			 		<h5 style='text-align:center'> Step 4: Add Rating and Tips</h5>
			 		<select id = "itemrating{{item.id}}" class="rateitemadd">
				 		<option value = "5">5 - Delicious </option>
						<option value = "4">4 - Yummm </option>
						<option value = "3">3 - Meh </option>
						<option value = "2">2 - Not Tasty </option>
						<option value = "1">1 - Yuck </option>
			 		</select>
			 		<textarea rows="4" id ="review{{item.id}}" placeholder="Write a Review" class="newitemadd" ></textarea>
			 		<textarea rows="4" id ="tips{{item.id}}" name = "tips" placeholder="Write a Tip" class="newitemadd" ></textarea>

			 	</div>
				<div class="buttonsadditem" id="additembutton{{item.id}}" style="display:none">
					<button class= "btn btn-success btn-large saveitembutton" id = "save{{item.id}}" name ={{item.id}}>Save Item</button>
					
				</div>
					<div class="buttonsaddpicture" id="addpicturebutton{{item.id}}" >
					<button class= "btn btn-success btn-large savepicturebutton" id = "save{{item.id}}" name ={{item.id}}>Save Picture</button>
					
				</div>
		
		
		</div>

					
					
				
				
{% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{%endif%}
{%endfor%}

{% endblock base_content%}

{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chosen.jquery.min.js"></script>
<script type="text/javascript">
	    $(document).ready(function() {
			
			$('.companychoose').each(function(index,value){
				appendto ="#companysuggestion"+ value.getAttribute("itemno")				
				options = { serviceUrl:'/items/companysuggest' ,
				width:280,
				maxHeight:400,
				appendTo: appendto,
				minChars:2,
				formatResult:function(suggestion,value){
					return suggestion.value
					},
				onSearchStart:function(e) {
					$("#cantfindcompany"+this.getAttribute("itemno")).fadeIn('slow',function(){})
				},
				onSelect:function(suggestion) {
					//if user can't find company 
					if(suggestion.value == "Can't Find Company"){
						 window.location.href="/myaccount/addcompany";

					}
					//place only the company name in the text input
					suggestionvalue = suggestion.value.split("<br/>")
					suggestionvalue =suggestionvalue[0].replace("amp;","")
					document.getElementById("companychoose"+this.getAttribute("itemno")).value = suggestionvalue;
					document.getElementById("name"+this.getAttribute("itemno")).disabled = false;
					$("#cantfindcompany"+this.getAttribute("itemno")).fadeOut('slow',function(){})
					$('#itemname'+this.getAttribute("itemno")).fadeIn('slow',function(){})
					document.getElementById("companydata"+this.getAttribute("itemno")).value = suggestion.data;
					
				}
				}
   				a = $(this).autocomplete(options);

			})

			$('.itemchoose').each(function(index,value){
				companyvalue = "companychoose"+ value.getAttribute("itemno")
				appendto ="#itemsuggestion"+ value.getAttribute("itemno")				
				
				options = { serviceUrl:'/items/itemsuggest' ,
				width:280,
				maxHeight:400,
				minChars:2,
				appendTo: appendto,
				onSearchStart:function(e) {
					companyid = document.getElementById("companydata"+this.getAttribute("itemno")).value
					$('#noitemfound'+this.getAttribute("itemno")).fadeIn('slow', function() {})
					$('#addpicturebutton'+this.getAttribute("itemno")).fadeOut('slow', function() {})
					$('#reviewtipsdiv'+this.getAttribute("itemno")).fadeOut('slow', function() {})
					
					if(companyid == ""){
						document.getElementById("name"+this.getAttribute("itemno")).disabled = true;
						document.getElementById("name"+this.getAttribute("itemno")).value = "";
					}
					
					query = document.getElementById("name"+this.getAttribute("itemno")).value
					 $(this).autocomplete('setOptions', { params: { company: companyid,query:query } })

				},
				onSelect:function(e) {
					$('#noitemfound'+this.getAttribute("itemno")).fadeOut('slow', function() {})
					$('#additembutton'+this.getAttribute("itemno")).fadeOut('slow', function() {})
					$('#additem'+this.getAttribute("itemno")).fadeOut('slow', function() {})
					$('#addpicturebutton'+this.getAttribute("itemno")).fadeIn('slow', function() {})
					$('#reviewstipsdiv'+this.getAttribute("itemno")).fadeIn('slow', function() {})
					
				}

				

			};
   				a = $(this).autocomplete(options);
   				

			})


	            numitems = document.getElementById("itemscount").value;
	            for (var i = 1; i <= numitems;i++){
	            	//allow tags
		    $("#myTags"+i).tagit({
			   placeholderText: "Add Ingredients "});
	        	}
	        	$('.category').data("placeholder","Select Frameworks...").chosen({width: "80%"
	        							})
	// $('.category').each(function(index,value){
	// 	id = $(this).attr("item-input")
	// 	$("#category" + id).chosen({no_results_text: "You must select a category"});
	// 		}) 
		});

		</script>
{%endblock add_script %}


