{%extends "base.html" %}
{% block base_content %}

<div class= "row">
	<div class= "span6  createselected" >
		<h2 class="createmenu">Step 1</h2>
		<h3 class="createmenu">Provide Item Details</h3>
	</div>
	<div class= "span6  createmenunotselect" >
		<h2 class="createmenu">Step 2</h2>
		<h3 class="createmenu">Add Pictures and Purchase Options</h3>
	</div>
	
</div>
<div class ="row">
	<div class = "heading">
		<h3><span>Showcase your Treats</span></h3>
	</div>
</div>
<!-- if there is an error -->
{% if errormessage != None %}
	<div class= "row" style="text-align:center">
		<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
		</div>
	</div>
{%endif%}

{% if successmessage != None %}
	<div class= "row" style="text-align:center">
		<div class="alert alert-success"  tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{successmessage}}</strong> 
		</div>
	</div>
{%endif%}

<div  style = "width:50%;margin: 0 auto;">
	<form class = "form-horizontal" id= "additemform" method = "post" enctype="multipart/form-data">
	{% csrf_token %}
		<input type ="hidden" id="itemtags" name = "itemtags">
			<ul class= "contact-list">
				<li>
					<input type ="text" class= "form_input" id = "name" name="name" required placeholder="Name"  value = {{name}} >
				</li>		
				<li>
					<select  class= "form_input" style = "width:100%"  id = "category" name="category" value ={{category}}>
						<option value ="">Choose a Category for your Treat</option>
						<option value = "Bar Desserts">Bar Desserts</option>
						<option value = "Breads">Breads (ex. banana, pumpkin, zuchinni)</option>
						<option value = "Brownies">Brownies</option>
						<option value = "Cakes">Cakes</option>
						<option value = "Cheesecake">Cheesecake</option>
						<option value = "Cookies">Cookies</option>
						<option value = "Cupcake">Cupcake</option>
						<option value = "French Macaroon">French Macaroon</option>
						<option value = "Muffins">Muffins</option>
						<option value = "Pastry">Pastry (ex. Croissants, Danish Scones)</option>
						<option value = "Tarts">Tarts</option>
						<option value = "Others">Others(ex. Eclaires, Cream Puffs, Tiramisu)</option>
						<option value = "Pies">Pies</option>

					</select>
				</li>		
				<li>
				<input type = "text" class= "form_input" id = "price" name = "price"  required placeholder="Price per treat" pattern = "^\d+(.\d{1,2})?"  value ={{price}} >	
				
				<li>
				<textarea  style = "width:554px" id="description" name = "description" placeholder= "Add a description" value = {{description}} rows=2></textarea>
				</li>
				<li>
				<label> Add Tags</label>
				<ul id="myTags" style= "border:3px solid #e3e3e3;">
					{% for tag in tags%}
					<li>{{tag}}</li>
					{%endfor%}
				</ul>
				</li>
				<li>
			 	<span class= "checkboxspan"><input type = "checkbox" name = "glutenfree" > Gluten Free</input></span>
			 	<span class= "checkboxspan" ><input type = "checkbox" name  = "fatfree"> Fat Free</input></span>
			 	<span class= "checkboxspan"><input type = "checkbox" name ="peanutfree"> Peanut Free</input></span>
			 	<span class= "checkboxspan"><input type = "checkbox" name = "vegan"> Vegan</input></span>
				</li>
				<br/>.
				<br/>
				<li>
			 	<span class= "checkboxspan"><input type = "checkbox" name = "featured" >  Feature This Item </input></span>
				</li>
			</ul>
		</form>
		</div>
		<div class= "row" style ="text-align:center;margin-top:80px">
			<button class= "btn btn-large btn-success additemnextstep"> Next Step </button>
			<a href= "/"><button class= "btn btn-large btn-danger">Cancel</button></a>
		</div>
{%endblock base_content %}

{% block add_script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	    $(document).ready(function() {
	            $("#myTags").tagit({
	            });
	            $("#category").val(document.getElementById("category").value);
		        });
		</script>
{%endblock add_script %}

{%block add_styles %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{{STATIC_URL}}css/jquery.tagit.css" rel="stylesheet" type="text/css">
{%endblock add_styles %}

