{%extends "base.html" %}
{% block base_content %}

<div class= "row">
	<div class= "span6  createmenunotselect" >
		<h2 class="createmenu">Step 1</h2>
		<h3 class="createmenu">Provide Item Details</h3>
	</div>
	<div class= "span6  createselected " >
		<h2 class="createmenu">Step 2</h2>
		<h3 class="createmenu">Add Pictures and Purchase Options</h3>
	</div>
	
</div>
<div class ="row">
	<div class = "heading">
		<h3><span>Add Pictures and Purchase Options</span></h3>
	</div>
</div>

{% if errormessage != None %}
	<div class= "row" style="text-align:center">
		<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
		</div>
	</div>
{%endif%}

<form class = "form-horizontal" id= "addpictureform" method = "post" enctype="multipart/form-data">
	<div  style = "width:50%;margin: 0 auto;">

	{% csrf_token %}
		<input type ="hidden" id="isuploadpicture" name = "isuploadpicture">
		<input type = "hidden" id = "nextaction" name = "nextaction">
			<ul class= "contact-list">
				<li>
					<h2>Upload Pictures</h4>
					<input style="margin-top:10px" type = "file" id = "uploadpictures" name ="uploadpictures" multiple>

				</li>
			</ul>
	</div>
{% for image in itemimages%}
	{% if forloop.counter0|divisibleby:"4"%}<div class= "row" >{%endif%}

				<div class="span3"  id = "photodiv{{image.id}}">

					<div class= "imageblock">
						
						<img class= "imageadded" src ="{{MEDIA_URL}}{{image.image}}">

					</div>	
					{% if image.mainimage %}
					<button class= "btn btn-primary mainbutton" id ="mainimage" name ="{{image.id}}">Main Image</button>
					{%else%}
					<button class= "btn btn-success setasmainbutton" id ="setasmain{{image.id}}" name ="{{image.id}}">Set As Main</button>
					{%endif%}
					<button class= "btn btn-danger deletephotobutton" id = "delete{{image.id}}" name ={{image.id}}>Delete Picture</button>
					
				
				</div>
	
{% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{%endif%}
{%endfor%}	
	
	<div  style = "width:50%;margin: 0 auto;">		
			<ul class= "contact-list">
				<li>
					<input type = "checkbox" id = "allowonlinesales" name = "allowonlinesales">  I would like to sell this treat online!</input>
				</li>
				<div id = "addshippingdiv" style="display:none">
				<li >
			
						<h3 style="text-align:center">Sell my treat online</h3>
	
							<label>Shipping Method </label>
							<select id = "deliverymethod" name = "deliverymethod">
								<option value="pickup">Pickup Only</option>
								<option value="shipping">Shipping Only</option>
								<option value = "both">Both Shipping and Pickup</option>
							</select>

				</li>
				<li id = "shippingpricecontainer" class="shippingpricecontainer">		
							<input type = "text" class = "form_input" id = "shippingprice" name = "shippingprice" placeholder= "Shipping Price" pattern = "^\d+(.\d{1,2})?" value = {{shippingprice}}>

				</li>
				<li >
					<input type = "checkbox" id = "priceperdozencheckbox" name= "priceperdozencheckbox"> Include price per dozen</input>
				</li>	
				<li >		
							<input type = "text" class = "form_input" id = "priceperdozen" name = "priceperdozen" placeholder= "Price Per Dozen" disabled pattern = "^\d+(.\d{1,2})?" value = {{priceperdozen}}>

				</li>
			</ul>
	</form>
	</div>
			<div class= "row" style ="text-align:center;">
			<button class= "btn btn-large btn-success addanotheritem">Add Another Treat </button>
			<button class= "btn btn-large btn-primary createitem">Add Treat</button>
			
			<a href= "/"><button class= "btn btn-large btn-danger">Finish Adding Treat Later</button></a>
		</div>			


{% endblock %}
