{%extends "base.html" %}
{% block add_title %}
<title>Review {{item.name}}</title>
{% endblock add_title %}
{% block base_content %}
{% load custom_filters %}
<div class ="row">
	<div class = "heading">
		{%if userreview == None %}
			<h3><span>Review Something</span></h3>
		{%else%}
			<h3><span>Edit Your Review</span></h3>
		{%endif%}
	</div>
</div>


{% if userinfo  and not userreview %}
	<div  style = "width:50%;margin: 0 auto;">
		<h4> Review For</h4>
		<h5> <a href = "/users/company/{{item.companyinfo.id}}"> {{company.companyname|safe}}</a> - <a href = "/items/single/{{item.id}}">{{item.name}}</a></h5>
	
		<form class = "form-horizontal" id= "reviewform"  method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<ul class= "contact-list">
				<li>
					<h5>Rating </h5>
				<select class= "form_input" id = "rating" name="rating" value="{{userreview.rating}}">
					<option value = "5">5 - Delicious </option>
					<option value = "4">4 - Yummm </option>
					<option value = "3">3 - Meh </option>
					<option value = "2">2 - Not Tasty </option>
					<option value = "1">1 - Yuck </option>
				</select>	
				</li>
				<li>
				<textarea rows="4" id ="comments" name = "comments" placeholder="Write Your Review" style = "width:554px" value = "{{userreview.comments}}"></textarea>
				</li>	
			</ul>
			<input type="submit" class = "btn btn-success" value ="Submit Review"></input>
		</form>
	</div>
{%elif userinfo == None%}
<div  class= "reviewproblemcontainer" >
	<h2> You must be logged in and a user to rate an item </h2>
	<a href ="/items/single/{{item.id}}"> <button style ="text-align:center" class= "btn btn-large btn-primary">Back to Item </button></a>
</div>

{%elif userreview != None%}

<div  class= "reviewproblemcontainer">
	<h4> You have already rated this item. You need to delete your old review and rate this item again </h4>

	<div class = "reviewcontainer">
		<div class= "timereviewcontainer">
			<span class="datereview"> {{userreview.dateadded}}</span>
		</div>	
		<div class = "usercontainer">
			<h5 class="userreviewheader"><a href ="/users/{{user.id}}"><img class="userprofilepicture" src="{{MEDIA_URL}}{{userinfo.profilepictureurl}}"></a><a style="margin-left:10px" href ="/users/{{user.id}}"> {{user.first_name}} {{user.last_name}}</a></h5>
		</div>
		<div class="ratingcontainer">
			{% for i in userreview.rating|get_range %}
			<img src="{{STATIC_URL}}img/star.png">
			{%endfor%}
		</div>
		<div class= "commentcontainer">
			<p class= "commentsreviewbox">{{userreview.comments}}</p>
		</div>
	</div>

	<form id= "reviewform"  method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type = "hidden" id = "isdeletereview" name ="isdeletereview">
		<button class = "btn btn-danger deletereviewbutton" style= "margin-top:30px">Delete this Review</button>
	</form >
</div>
{%endif%}
{%endblock base_content %}

{%block add_script%}

	$('document').ready(function(){
	if (document.getElementById("rating").value != ""){
	$("#rating").val(document.getElementById("rating").value);
	}
}
})
	</script>
{%endblock add_script%}
