<div class="alert alert-success"  tabindex="-1" style ="width:80%;margin: 0 auto;">
		<strong>{{item.name}} has been added!</strong> 
</div>
<img class= "imageadded" src= "{{MEDIA_URL}}{{itemimage.url}}">
<div class = "itemnameheader">
<h3 style = "text-align:center"><a href = "/items/single/{{item.id}}">{{item.name}}</a></h3>
</div>