{%extends "base.html" %}
{% block add_title %}
<title>{{item.name}} - WhereTheFork</title>
{% endblock add_title %}
{% block base_content %}
{% load custom_filters %}
{%if reviewsuccess|is_not_none%}

<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{reviewsuccess}}</strong>
</div>
{%endif%}
{%if addtipsuccess %}

<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{addtipsuccess}}</strong>
</div>
{%endif%}
{%if editrequest %}
<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{editrequest}}</strong>
</div>
{%endif%}
<div class= "simpleoverlay"></div>
<div class= "pictureframe">
	<button class= "btn btn-small closepictureframe btn-danger">X</button>
	<img class= "picturecloseup">
</div>





<div class = "span12 singleitemuserposted" style="text-align:right">
	<h4 class= "itemsingleusername"> Added By: <a href= "/users/user/{{item.postedby.id}}"> {{item.postedby.first_name}} {{item.postedby.last_name}}</a> &nbsp;<img class = "userminiprofilepicture" src = "{{MEDIA_URL}}{{userinfo.profilepictureurl}}"></h4>
</div>


<div class="span12" style="position:relative" >

	
		<div class= "flagitem">

					{%if flagged  %}
					<span class="itemflagged" name ={{item.id}} id="reportitem{{item.id}}">item flagged</span>
					{%else%}
					<span class="flagitemtext" name ={{item.id}} id="reportitem{{item.id}}">flag item</span>
					{%endif%}	

		</div>

{% if user.is_authenticated %}
			<div class= "addbuttonssingle">
		<a href = "/items/review/{{item.id}}">
			<button class= "btn btn-success btn-small buttonaddreview" >Write Review</button>
		</a>
		<a href = "/items/addtip/{{item.id}}">
			<button class= "btn btn-primary btn-small buttonaddtip" >Add Tip</button>
		</a>
		<a href = "/items/edit/{{item.id}}">
			<button class= "btn btn-inverse btn-small " > Edit Item Info</button>
		</a>
		{% if user.is_staff%}
			{%if item.featured%}
				<button class= "btn btn-small btn-danger unfeatureitem" id = "{{item.id}}" > UnFeature Item</button>
			{%else%}
				<button class= "btn btn-small featureitem btn-warning" id = "{{item.id}}" > Feature Item</button>
			{%endif%}
		{%endif%}	

			</div>
	{%endif%}		
	<div class= "itempicturechooser">
				<img src = "{{MEDIA_URL}}{{item.mainitemimage.url}}" class=  "itemdisplayed framemainpageload itemframeload" id = "itemdisplayed" >
				<div class= "socialmediacontainersingle" style ="width:100%">
			<div class= "useroptionsframe">
				<div class ="socialmediaframesingle">
				   <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
			</div>
			<div class = "ratecontainersingle">
					{% if user in item.forkedby.all%}
					<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
						<img class = "forkimagesingle" src ="{{STATIC_URL}}/img/fork4.png">
						<h5 id = "forkedcountheader{{item.id}}" style="text-align:center;">{{item.forkedcount}}</h5>
					</div>	
				
					{%else%}
					<div class= "forkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
						<img class = "forkimagesingle" src ="{{STATIC_URL}}/img/fork4.png">
							<h5 id = "forkedcountheader{{item.id}}" style="text-align:center;">{{item.forkedcount}}</h5>
					</div>

			{%endif%}
				
				</div>	
		</div>
		</div>	
	</div>
	<div class= "itemsingleinfo">
		<h2  class="itemsinglenameheader">{{item.name}}</h2>
		{% if item.reviewcount != 0 %}
<div class= "starratingcontainer">
	<div class= "starrating">
	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
	{%endfor%}
	{%for i in numunfilledstars|get_range %}
	<img class = "ratingstars" src="{{STATIC_URL}}img/starunfilled.png">
	{%endfor%}
			<span class= "reviewcountsingle"> {{item.reviewcount}} review{%if item.reviewcount != 1 %}s{%endif%}</span>
	</div>

</div>
{% endif %}
		<div class ="itemsingleprice">
			{%if item.price %}
				<h1 >${{item.price}} </h1>
			{% else %}
				<h5> No Price Listed</h5>		
			{%endif%}	
		</div>
		<div style="width:100%">
		{% if item.fatfree%}
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Fat Free</span>
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Gluten Free</span>
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Vegan</span>
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Peanut Free</span>
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Lactose Free </span>
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign icon-32"></i><span class="itemsingledietary">Vegetarian</span>
			</div>	
			{%endif%}
		</div>
		
		<h3 style="margin-top:30px" >Description</h3>
		{% if item.description != "" %}
		<p>{{item.description}}</p>
		{% else %}
		No Description was provided
		{%endif%}
		
		<h3>Ingredients</h3>
		{%if itemtags.count == 0 %}
		<p>No ingredients were added to this item!</p>
		{%else%}
		<p>{% for tag in itemtags %}
		<a href="/search?q={{tag.ingredient}}&category=Ingredient">
				<button class='btn btn-small btn-primary '>{{tag.ingredient}}</button>
			</a>	
		   {%endfor%}
		 </p>
		 {%endif%}


	</div>
	
	<div class="companymapinfo">
		<h5>Company: <a href = "/users/company/{{item.companyinfo.id}}">{{item.companyinfo.companyname|safe}}</a>
		</h5>
		<img class="googlemapimage" onclick="redirectGoogleMap('{{item.companyinfo.address}}','{{item.companyinfo.municipal.name}}','{{item.companyinfo.city.country}}')" src="http://maps.googleapis.com/maps/api/staticmap?center={% autoescape on %}
    {{ item.companyinfo.address}}
{% endautoescape %}
{{item.municipal.name}},CA&zoom=15&size=200x200&sensor=false&markers=color:red%7C{% autoescape on %}
{{ item.companyinfo.address }},{{item.municipal.name}},CA
{% endautoescape %}">
	</div>	
		

		
		

	
</div>

<div class="span12 menuitemcontainer" > 
	<div class= "itemsinglemenucontainer">
		<div class= "itemreviewstab"><span class= "reviewselector itemmenuitems selected" id = "itemreviewtab" name={{item.id}} >Reviews</span></div>
		<div class= "itemtipstab"><span class= "reviewselector itemmenuitems" id = "itemtipstab" name="{{item.id}}" type = "item" >Tips</span></div>
		<div class ="itemmorepicturestab"><span class="menuselector itemmenuitems " id = "morepicturestab" name={{item.id}}>More Pictures</span></div>
	</div>

</div>		
<div class= "span12" style = "margin-top:15px">
			<hr>
		</div>
<div class= "span12">
	<img class="loading" src ="{{STATIC_URL}}img/loading.gif">
</div>	
<div class = "span12 itemreviewcontainer">
{%if itemreviews.count == 0 %}
<h4 style = "text-align:center;margin-top:30px"> No one has rated this treat :(</h4>
{%else%}
{%for userreview in itemreviews%}
	<div class = "reviewcontainer">
			<div class= "flagreviews">
				{% if user in userreview.flaggedby.all%}
					<span class="reviewflagged" name ={{userreview.id}} id="reportspan{{userreview.id}}">reported</span>
				{%else%}
				<span class="flagreviewtext" name ={{userreview.id}} id="reportspan{{userreview.id}}">report</span>
				{%endif%}

			</div>	
			<div class= "timereviewcontainer">		
				<span class="datereview"> {{userreview.dateadded}}</span>
			</div>	
			<div class = "usercontainer">
				<h5 class="reviewheader"> Review By: </h5>
				<h5 class="userreviewheader"><a href ="/users/{{user.id}}"><img class="reviewprofilepicture" src="{{MEDIA_URL}}{{userreview.userinfo.profilepictureurl}}"></a><a style="margin-left:10px" href ="/users/user/{{userreview.postedby.id}}"> {{userreview.postedby.first_name}} {{userreview.postedby.last_name}}</a></h5>
			</div>
			<div class="ratingcontainer">
				{% for i in userreview.rating|get_range %}
				<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
				{%endfor%}
			</div>
			
			<div class= "commentcontainer">
				{% if userreview.comments != None%}
				<p class= "commentsreviewbox">{{userreview.comments}}</p>
				
			</div>
			
			<div class = "markreviewuseful">
				{%comment%}If user has already recommeneded tip, then show different button {%endcomment%}
				{% if user.is_authenticated %}
					{% if user in userreview.recommendedby.all %}
						<button class="btn btn-small btn-primary recommendreviewbutton" id = "recommendreview{{userreview.id}}" name ="{{userreview.id}}" >Review Recommended</button>
					{%else%}
						<button class="btn btn-small recommendreviewbutton" id = "recommendreview{{userreview.id}}" name ="{{userreview.id}}" >Recommend Review</button>
					{%endif%}
				{%endif%}
			<span class="numberusefulitemtip"><span id = "numrecommendedreview{{userreview.id}}">{{userreview.numrecommends}}</span> users recommend this review </span>
			
			{%endif%}	
			</div>
	</div>
	{%endfor%}
{%endif%}
</div>
<!-- all item pictures !-->
<div class= "span12 itempicturecontainer"></div>
<!-- all item tips !-->
<div class= "span12 itemtipscontainer"></div>
{%endblock base_content%}
	{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/masonry.pkgd.js"></script>
<script src= "{{STATIC_URL}}js/jquery.infinitescroll.min.js"></script>
{%endblock add_script%}
