{%extends "base.html"%}
{% block add_title %}
<title>{{company.companyname|safe}} - WhereTheFork</title>
{% endblock add_title %}
{% block base_content %}
{%load custom_filters %}
 <div class= "simpleoverlay"></div>
<div class= "itemframe"></div>
<div class= "row">
	<div class="heading">
		<h3 style= 'text-align:center'><span>{{company.companyname|safe}}</span></h3>

	</div>	
</div>


<div class= "span12">
	
	<div class= "userprofilepagepicture">
		<img class= "userprofilepagepicture"  src = "{{MEDIA_URL}}{{company.companylogo}}">
<div class= "userprofileposted">
	<h4 style="text-align:center;font-weight:bold">{{company.itemsposted}} Item{%if company.itemsposted != 1%}s{%endif%} on the Menu </h4>
	</div>
	</div>
	<div class= "companyinfo">
		<h3><strong>Contact</strong></h3>

		<h5>{{company.phonenumber}}</h5>
		<h5>{{company.address}}</h5>
		<h5>{{company.municipal.name}}, {{company.city.provincestate}}</h5>
		<h5>{{company.postalcode}}</h5>
		</p>

		

	</div>
	<div class="companyinfomap">
		<img class="googlemapimage" onclick = "redirectGoogleMap('{{company.address}}','{{company.municipal.name}}','{{company.city.country}}')" src="http://maps.googleapis.com/maps/api/staticmap?center={% autoescape on %}
{{ company.address}},{% endautoescape %}{{company.municipal.name}},CA&zoom=15&size=200x200&sensor=false&markers=color:red%7C{% autoescape on %}{{ company.address }},{{company.municipal.name}},CA{% endautoescape %}" />
	</div>

</div>
<div class="span12 menuitemcontainer"> 
	<div class= "companyprofiletabcontainer">
		<div class ="menutab"><span class="menuselector menuitems selected" id = "menutab" name={{company.id}}>Menu</span></div>
		<div class ="companytipstab"><span class="menuselector menuitems " id = "itemtipstab" name={{company.id}} type ="company">Tips</span></div>
		<div class= "reviewstab"><span class= "reviewselector menuitems" id = "reviewtab" name={{company.id}} type= "company">Reviews</span></div>
	</div>	

</div>	
<div class= "span12" style="margin-top:15px">
		<hr>
</div>

<div class= "containerholder" >
	<img class="loading" src ="{{STATIC_URL}}img/loading.gif">

	<div class= "span12 companyreviews" style="display:none">
	</div>
	<div class= "span12 itemtipscontainer" style="display:none">
	</div>

	<div id= "itemsmenucontainer"  >

		{%if items.count == 0 %}
		<h3 style= "text-align:center;margin-top:10px"> This company has no items on their menu :(</h3>
		{%endif%}
		{% if items.count > 0 %}
		<div class= "span12" style="margin-bottom:10px"><h2>Menu Items</h2></div>
			{%for item in items%}
		<div class= "item0">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" style="text-align:center;margin-right:8px">{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}

	{%endif%}
		</div>
	</div>
</div>



</div>
{%endblock base_content %}


{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/masonry.pkgd.js"></script>
<script>
$(window).load(function(){
$('#itemsmenucontainer').masonry({
  isAnimated: true,
  itemSelector: '.item0'
})});
{% endblock add_script%}
