{%extends "base.html"%}
{% block add_title %}
<title>{{userinfo.first_name}} {{userinfo.last_name}} - Followers/Following</title>
{% endblock add_title %}
{% block base_content %}
{%load custom_filters %}
<div class="span10 userfollowerscontainer">
<div class  = "usersfollowed">
	<h4 class= "userfollowingheader"> People {{userinfo.first_name}} {{userinfo.last_name}} Follows</h4>
	<hr>
	{%if usersfollowing.following.count > 0 %}
		{% for following in usersfollowing.following.all %}
			<div class="followcontainer">
				<div class ="followprofilepicturecontainer">
					<img class="followprofilepicture" src="{{MEDIA_URL}}{{following.profilepicture}}">
				</div>
				<div class="followuserinfocontainer">
					<h5 class="followusername"> 
						<a href = "/users/user/{{following.id}}">{{following.first_name}} {{following.last_name}}
						</a>	

						{%if user.is_authenticated and requestuserinfo != following%}	
						{%comment%} check to see if request user already following {%endcomment%}
							{% if following in requestuserinfofollowing.following.all%} 		
							<button class= "btn btn-success unfollowbutton" id = "follow{{following.id}}" name ="{{following.id}}" style="float:right">Following</button> 
							{%else%}	
							<button class= "btn btn-primary followbutton" id ="follow{{following.id}}" name ="{{following.id}}" style="float:right">Follow</button> 
							{%endif%}
						{%endif%}

					</h5>
					{% if following.city and following.provincestate %}
					<h6>{{following.city}}, {{following.provincestate}}</h6>
					{%endif%}


				</div> 	
			</div>

		{%endfor%}
	{%else%}			
		<h6 style = "margin-left:20px"> {{userinfo.first_name}} {{userinfo.last_name}} is not following anyone </h6>
	{%endif%}
</div>
<div  class="usersfollowing">
	<h4 class="userfollowingheader"> People following {{userinfo.first_name}} {{userinfo.last_name}} </h4>
	<hr>
	{%if usersfollowers.followedby.count > 0 %}
		{% for follower in usersfollowers.followedby.all %}
			<div class="followcontainer">
				<div class ="followprofilepicturecontainer">
					<img class="followprofilepicture" src="{{MEDIA_URL}}{{follower.profilepicture}}">
				</div>
				<div class="followuserinfocontainer">
					<h5 class="followusername"> 
						<a href = "/users/user/{{follower.id}}">{{follower.first_name}} {{follower.last_name}}
						</a>	

						{%if user.is_authenticated and requestuserinfo != follower%}	
						{%comment%} check to see if request user already following {%endcomment%}
							{% if follower in requestuserinfofollowing.following.all%} 		
							<button class= "btn btn-success unfollowbutton" id ="follow{{follower.id}}" name = "{{follower.id}}"style="float:right">Following</button> 
							{%else%}	
							<button class= "btn btn-primary followbutton" id ="follow{{follower.id}}" name = "{{follower.id}}" style="float:right">Follow</button> 
							{%endif%}
						{%endif%}

					</h5>
					<h6>Vancouver,bc</h6>
					{% if follower.city and follower.provincestate %}
					<h6>{{follower.city}}, {{follower.provincestate}}</h6>
					{%endif%}


				</div> 	
			</div>
		{%endfor%}
	{%else%}			
		<h6 style = "margin-left:20px"> {{userinfo.first_name}} {{userinfo.last_name}} has no followers </h6>
	{%endif%}
</div>
</div>	
{% endblock base_content %}
