{% load custom_filters %}
	{%for item in items%}
		<!--<div class="foodthumbnail"> -->
		<div class= "item0">
			<div class= "imagecontainer" id = "{{item.id}}">
			
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.url}}" id={{item.item.id}} >
			
			</div>

			<h4 style="text-align:center"><a href="/items/single/{{item.item.id}}"> {{item.item.name}}</a></h4>
			
	


		
</div>
	{%endfor%}

