{% load custom_filters %}


{%if itemreviews.count == 0 %}
<h3 style = "text-align:center;"> No reviews have been added!</h3>
{%else%}
{%for userreview in itemreviews%}
	<div class = "reviewcontainer">
			<div class= "flagreviews">
				{% if user in userreview.flaggedby.all%}
					<span class="reviewflagged" name ={{userreview.id}} id="reportspan{{userreview.id}}">reported</span>
				{%else%}
				<span class="flagreviewtext" name ={{userreview.id}} id="reportspan{{userreview.id}}">report</span>
				{%endif%}

			</div>	
			<div class= "timereviewcontainer">		
				<span class="datereview"> {{userreview.dateadded}}</span>
			</div>	
			<div class = "usercontainer">
				<h5 class="reviewheader"> Review By: </h5>
				<h5 class="userreviewheader"><a href ="/users/{{user.id}}"><img class="reviewprofilepicture" src="{{MEDIA_URL}}{{userreview.userinfo.profilepictureurl}}"></a><a style="margin-left:10px" href ="/users/user/{{userreview.postedby.id}}"> {{userreview.postedby.first_name}} {{userreview.postedby.last_name}}</a></h5>
			</div>
			
			<div class="ratingcontainer">
				{% for i in userreview.rating|get_range %}
				<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
				{%endfor%}
			</div>
			{%comment%} If we are loading reviews for the company {%endcomment%}
			<div class="itemreviewedcontainer">
				<h6>Item Reviewed- <a href="/items/single/{{userreview.item.id}}">{{userreview.item.name}}</a></h6>
			</div>	
			<div class= "commentcontainer">
				{% if userreview.comments != None%}
				<p class= "commentsreviewbox">{{userreview.comments}}</p>
				
			</div>
			
			<div class = "markreviewuseful">
				{%comment%}If user has already recommeneded tip, then show different button {%endcomment%}
				{% if user.is_authenticated %}
					{% if user in userreview.recommendedby.all %}
						<button class="btn btn-small btn-primary recommendreviewbutton" id = "recommendreview{{userreview.id}}" name ="{{userreview.id}}" >Review Recommended</button>
					{%else%}
						<button class="btn btn-small recommendreviewbutton" id = "recommendreview{{userreview.id}}" name ="{{userreview.id}}" >Recommend Review</button>
					{%endif%}
				{%endif%}
			<span class="numberusefulitemtip"><span id = "numrecommendedreview{{userreview.id}}">{{userreview.numrecommends}}</span> users recommend this review </span>
			
			{%endif%}	
			</div>
	</div>
	{%endfor%}
{%endif%}
