{%extends "base.html"%}
{% block add_title %}
<title>{{chosenuser.first_name}} {{chosenuser.last_name}}-WhereTheFork</title>
{% endblock add_title %}
{% block base_content %}
{%load custom_filters %}
 <div class= "simpleoverlay"></div>
<div class= "itemframe"></div>

		

<div class= "span12">
	<div class= "userprofilepagepicture">

		<img class= "userprofilepagepicture"  src = "{{MEDIA_URL}}{{userinfo.profilepictureurl}}">
<div class= "userprofileposted">
	<h4 style="text-align:center;font-weight:bold">{{userinfo.itemsposted}} Item{%if userinfo.itemsposted != 1%}s{%endif%} Posted | {{userinfo.picturesposted}} Picture{% if userinfo.picturesposted != 1 %}s{%endif%} Posted</h4>
	</div>
	</div>
	<div class= "userprofileinfo">
		<div class="userinfoprofilepage">

		<h1 style = "color:#2984c0;" >{{userinfo.first_name}} {{userinfo.last_name}}
			{%if user != chosenuser and user.is_authenticated %}
				{% if useralreadyfollowing %}
				<button class="btn btn-success unfollowbutton" id=follow{{userinfo.id}} name="{{userinfo.id}}">Following</button>
				{%else%}
				<button class= "btn  btn-primary followbutton" id = follow{{userinfo.id}} name = {{userinfo.id}}>Follow</button>
				{%endif%}
			{%endif%}
		</h1>

		<h5 style = "font-weight:bold">{{userinfo.numberofpoints}} Foodie Points (Level {{foodielevel}})</h5>
		<h5>
			<a href = "/users/followers/{{userinfo.id}}">
				<span id= "numfollowers">{{userfollowerscount}}</span> Followers
			</a> | 
			<a href="/users/followers/{{userinfo.id}}">
				<span id="numfollowing">{{userfollowingcount}}</span> Following
			</a>
		</h5>
		<p>
		{{userinfo.city}},
	{{userinfo.provincestate}},
		{{userinfo.country}}
		</div>
		
	</div>	
	
</div>
<div class="span12 menuitemcontainer" > 
	<div class='userprofilemenucontainer'>
		<div class ="forkedtab"><span class="menuselector usermenuitems selected" id = "itemsforkedtab" name={{chosenuser.id}}>Forked</span></div>
		<div class= "itemspostedtab"><span class= "usermenuitems menuselector" id ="itemspostedtab" name = {{chosenuser.id}} >Items Posted</span></div>
		<div class= "picturespostedtab"><span class= "usermenuitems menuselector" id ="picturespostedtab" name = {{chosenuser.id}} >Pictures Posted</span></div>
		<div class= "usersreviewstab"><span class= "reviewselector usermenuitems" id = "reviewspostedtab" name={{chosenuser.id}} type= "user">Reviews</span></div>
		<div class= "userstipstab"><span class= "menuselector usermenuitems" id = "tipspostedtab" name={{chosenuser.id}} type= "user">Tips</span></div>
	</div>	

</div>	
<div class= "span12" style = "margin-top:15px">
		<hr>
</div>
<div class= "containerholder" >
	<img class="loading" src ="{{STATIC_URL}}img/loading.gif">		
	<div id = "itemsforkedcontainer">
		{% if items %}
			{%for item in items%}
		<div class= "item0">
			<div class= "imagecontainer" id = "{{item.id}}">
				{% if item.mainitemimage != None %}
				<img class= "thumbnailimage framemainpageload"src="{{MEDIA_URL}}{{item.mainitemimage.url}}" id={{item.id}} />
				{%else%}
				<img class= "thumbnailimage framemainpageload"src="{{STATIC_URL}}/img/default.jpg" id={{item.id}} />
				{%endif%}
				<div class = "socialmediabackground" id ="socialmediabackground{{item.id}}"></div>
				<div class="socialmediacontainer" id ="socialmediacontainer{{item.id}}">
					 <a class="facebook" href="#" onclick ="window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.wherethefork.com/items/single/{{item.id}}'), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
	     	<img class="facebooklogo" src={{STATIC_URL}}img/facebooklogo.png>
	    </a>
	<a class ="twitter" href="https://twitter.com/share?text=Checkout this this {{item.name}} that I found on WhereTheFork http://www.wherethefork.com/items/single/{{item.id}}">
	     	<img class="twitterlogo" src={{STATIC_URL}}img/twitterlogo.png>
	    </a>
	     <a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.wherethefork.com%2Fitems%2Fsingle%2{{item.id}}%2F
        &media={{MEDIA_URL}}{{item.mainitemimage.url}}
        &description=Checkout%20this%20{{item.name}}%20by%20{{item.companyinfo.companyname|urlencode|safe}}%20at%20WhereTheFork"
        data-pin-do="buttonPin"
        data-pin-config="above">
        <img src="{{STATIC_URL}}img/pintrestlogo.png" class= "pintrestlogo" />
    </a>
				</div>
			</div>
			<div class=  "itemnameheader">
			<h4 style="text-align:center"><a href="/items/single/{{item.id}}"> {{item.name}}</a></h4>
			</div>
			{%if item.reviewcount != 0 %}
			 <div class= "ratingthumbnail">
			 	{% for i in item.rating|get_range %}
			<img class = "ratingstars" src="{{STATIC_URL}}img/star.png">
			{%endfor%}
			<div class="thumbnailreviewcount"><span class="numreviewsthumbnail">{{item.reviewcount}} {% if item.reviewcount == 1%}review{%else%}reviews{%endif%}</span></div>
			 </div>
			{%endif%}
			{% if item.price %}
				<h3 style="text-align:center" >${{item.price}}</h3>
			{%else%}
				<h5 style = "text-align:center">No Price Listed</h5>
			{%endif%}		
			{% if item.fatfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>fat free
			</div>	
			{%endif%}
			{% if item.glutenfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>gluten free
			</div>	
			{%endif%}
			{% if item.vegan%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegan
			</div>	
			{%endif%}
			{% if item.peanutfree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>peanut free
			</div>	
			{%endif%}
			{% if item.lactosefree%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>lactose free 
			</div>	
			{%endif%}
			{% if item.vegetarian%}
			<div class="itemfeatures">
				<i class="icon-ok-sign"></i>vegetarian
			</div>	
			{%endif%}
			<div class = "ratecontainer">
				{% if user in item.forkedby.all%}
				<div class= "unforkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">

				</div>	
			
				{%else%}
				<div class= "forkbutton" id = "fork{{item.id}}"  itemname = "{{item.id}}">
					<img class = "forkimage" src ="{{STATIC_URL}}img/fork4.png">
						
				</div>

		{%endif%}
			<h5 id = "forkedcountheader{{item.id}}" style="text-align:center;margin-right:8px">{{item.forkedcount}}</h5>
			</div>	
			<div class= "itemaddress">
				<a href= "/users/company/{{item.companyinfo.id}}">
					<span class="tilecompanytitle" >{{item.companyinfo.companyname|truncate_chars:20|safe }}</span>
				</a>
				<span class= "addressinfotile" >{{item.companyinfo.address}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.municipal.name}},{{item.companyinfo.city.provincestate}}</span>
				<span class= "addressinfotile" >{{item.companyinfo.city.country}}</span>
			</div>	
		</div>


		

	{%endfor%}
		{%else%}
		<h1 style= "text-align:center;height:50px"> No items have been forked </h1>
		{%endif%}
	</div>
	<div id="itemspostedcontainer" style="display:none"></div> 
	<div id = "picturespostedcontainer" style ="display:none"></div>
	<div class= "userreviews" style="display:none;"></div>
	<div class= "itemtipscontainer" style="display:none"></div>	
</div>

{%endblock base_content%}
	{% block add_script %}
</script>
<script src="{{STATIC_URL}}js/masonry.pkgd.js"></script>
<script src= "{{STATIC_URL}}js/jquery.infinitescroll.min.js"></script>
<script>

var processing;
$(document).ready(function(){
// start the infinite ajax	
$('#itemsforkedcontainer').masonry({
  isAnimated: true,
  itemSelector: '.item0'
});
})
{%endblock add_script%}	
