{% extends "base.html" %}
{% block add_title %}
<title> Add Company </title>
{% endblock add_title %}
{% block base_content%}

		<div class = "row">
			<div class= "heading">
				<h3><span>Add Company<span></h2>	
			</div>
		</div>	
		{% if errormessage == None%}
		{%else%}
		<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
					<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
						</div>
						{% endif %}
	<div  style = "width:50%;margin: 0 auto;">
	<form class = "form-horizontal" id= "createaccountform" method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="contact-list">

			<li>
			<input type = "text" class="form_input" id = "companyname" name = "companyname"  placeholder="Company Name" required value = "{{companynane}}">
			</li>
			<li>
			<input type = "text" class="form_input"  name = "address"  placeholder="Address" required value = "{{address}}">
			</li>
			<li>
			<input type = "text" class="form_input"  name = "postalcode"  placeholder="Postal Code" required value= "{{postalcode}}">
			</li>
			<li>
			<input type = "text" class="form_input"  name = "phone"  placeholder="Phone Number" required value = "{{phone}}">
			</li>
			<li>
			<input type = "text" class="form_input"  id = "city" name = "city"  placeholder="City " required value = "{{city}}">
			</li>	
			<div class="citysuggestion" id = "citysuggestion" ></div>
			<li>
			<input type = "text" class="form_input"  id = "neighbourhood" name = "neighbourhood"  placeholder="Neighbourhood(Select City First)"  disabled value ="{{neighbourhood}}">
			</li>	
			<div class="neighbourhoodsuggestion" id = "neighbourhoodsuggestion" ></div>

		<li style= "text-align:center">
				<button class="btn-success btn-large createaccountbutton">Add Company</button>
			</li>
		</ul>
	
	</form>
</div>

{%endblock base_content %}


{% block add_script %}
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/chosen.jquery.min.js"></script>
<script type="text/javascript">
	    $(document).ready(function() {
				//autocomplete function for city
				appendto ="#citysuggestion"			
				options = { serviceUrl:'/citysuggest' ,
				width:570,
				maxHeight:400,
				appendTo: appendto,
				onSearchStart:function(e) {
					document.getElementById("neighbourhood").disabled = true;
					document.getElementById("neighbourhood").value = "";
				},
				onSelect:function(e) {
					document.getElementById("neighbourhood").disabled = false;
				}
				}
   				a = $("#city").autocomplete(options);

   				//autocomplete function for the neighbourhood
   				appendto ="#neighbourhoodsuggestion"			
				options = { serviceUrl:'/neighbourhoodsuggest' ,
				width:570,
				maxHeight:400,
				appendTo: appendto,
				onSearchStart:function(e) {
					municipal = document.getElementById("city").value
					query = document.getElementById("neighbourhood").value
					$("#neighbourhood").autocomplete('setOptions', { params: { municipal: municipal,query:query } })
				},
				
				}
   				a = $("#neighbourhood").autocomplete(options);

			
		})
{%endblock add_script%}		
