{% extends "base.html" %}
{% block base_content%}
	
		<div class = "row">
			<div class= "heading">
				<h3><span>Change your Password<span></h2>	
			</div>
		</div>	


		{%if errormessage == None %}
		{%else%}
		<div class= "row" style="text-align:center">
				<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
				</div>
				</div>
				{%endif%}

	<div  style = "width:40%;margin: 0 auto;text-align:center">
<form class = "form-horizontal" id= "changepasswordform" method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="contact-list">
			<li>
			<input type = "password" class="form_input"  name = "oldpassword"  placeholder="Enter your old password" required >
			</li>
			<li>
			<input type = "password" class="form_input"  name = "newpassword"  placeholder="Enter a new Password" required >
			</li>
			<li>
			<input type = "password" class="form_input"  name = "confirmpassword"  placeholder="Confirm new Password" required >
			</li>
		</ul>
		<input type ="submit" class= "btn btn-success btn-large" value = "Change Password" style = "text-align:center">
	
</div>
{% endblock base_content %}
