{%extends "base.html" %}
{% block base_content%}
	
	<div class = "row">
		<div class= "heading">
			<h3><span>You have Created an Account!<span></h2>	
		</div>
	</div>

	<div class="row">
		<h2>Welcome<strong> {{company.companyname}}</strong>! Thank you for registering with us! In order to help you create an identity in our community, we will need some additional information from you. If you would like to do that later, you can visit our site and check out what we are all about</h2>
	</div>	
	<div class="row" style = "text-align:center" >
		<a href ="/myaccount/companycustomizefirst/{{user.id}}"><button class="btn btn-large btn-success">Continue Registration</button></a>
		<a href="/"><button class= "btn btn-primary btn-large">Go To Site</button></a>

	</div>

{%endblock base_content%}	
