{% extends "base.html" %}
{% block base_content%}

		<div class = "row">
			<div class= "heading">
				<h3><span>Add Company<span></h2>	
			</div>
		</div>	
		<div class= "row" style="text-align:center">
			{% if errormessage == None%}
			{%else%}
	<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
	</div>
</div>
			{%endif%}		
	<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="display:none;width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>Your Passwords don't match! Please try again!</strong> 
	</div>
</div>


	<div  style = "width:50%;margin: 0 auto;">
	<form class = "form-horizontal" id= "createaccountform" method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="contact-list">

			<li>
			<input type = "text" class="form_input" id = "companyname" name = "companyname"  placeholder="Company Name" required value = "{{companynane}}">
			</li>
		<li style= "text-align:center">
				<button class="btn-success btn-large createaccountbutton">Add Company</button>
			</li>
		</ul>
	
	</form>
</div>

{%endblock base_content %}
