{% extends "base.html"%}
{%block base_content %}
<div class= "row">
	<div class= "span6 createmenunotselect" >
		<h2 class="createmenu">Step 1</h2>
		<h3 class="createmenu">Provide Additional Information</h3>
	</div>
	<div class= "span6 createselected" >
		<h2 class="createmenu">Step 2</h2>
		<h3 class="createmenu">Customize your Company</h3>
	</div>
	
</div>

<div class= "row">
	<div class= "heading">
		<h3><span>Customize your Account </span></h3>
	</div>
</div>
	{% if errormessage == None %}
	{%else%}
	<div class= "row" style="text-align:center">
		<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
		</div>
	</div>
		{% endif %}	
<div  style = "width:50%;margin: 0 auto;">
		<form class = "form-horizontal" id= "customizeform" method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type ="hidden" id="isuploadpicture" name = "isuploadpicture">
			<ul class= "contact-list">
				<li>
				<input type ="text" class= "form_input" id = "slogan" name="slogan" placeholder="Enter your Slogan" value = "{{slogan}}">
				</li>
				<li>
				<textarea rows="4" id ="description" placeholder="Tell Us About Yourself" style = "width:554px" name = "description" >{{description}}</textarea>
				</li>
				<li>
				<label> Upload your Logo</label>
				<div style="float:left">
					<input type ="file" id ="logoupload" name = "logoupload">
				</div>	
				{% if company.companylogo != None %}
				<img id = "logoimage" name = "logoimage" src = "{{MEDIA_URL}}{{company.companylogo}}" style="max-width:230px;max-height:230px"></img>
				{%endif%}	
				</li>
					
			</ul>
		</form>
	</div>
	<div class= "row" style = "text-align:center">
		<button class= "btn btn-large btn-success customizebutton">Complete Registration </button>
		<a href = "/myaccount/companycustomizesecond/{{user.id}}"><button class= "btn btn-large btn-primary">Skip Step</button></a>
		<a href ="/"><button class = "btn btn-large btn-danger"> Complete Registration Later</button></a>
									</div>

{%endblock base_content %}
