{% extends "base.html"%}
{%block base_content %}
<div class= "row">
	<div class= "span4 createselected" >
		<h2 class="createmenu">Step 1</h2>
		<h3 class="createmenu">Provide Additional Information</h3>
	</div>
	<div class= "span4 createmenunotselect" >
		<h2 class="createmenu">Step 2</h2>
		<h3 class="createmenu">Customize your Company</h3>
	</div>
</div>

<div class= "row">
	<div class= "heading">
		<h3><span>Provide Additional Information</span></h3>
	</div>
</div>

<div  style = "width:50%;margin: 0 auto;">
		<form class = "form-horizontal" id= "customizeform" method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<ul class= "contact-list">
				<li>
				<input type ="text" class= "form_input" id = "address" name="address" placeholder="Enter your Address">
				</li>
				<li>
				<select style="width:100%">
					{% for item in neighbourhoodchoices %}
						<option value="{{item}}">{{item}}</option>	
					{%endfor%}
				</select>
				</li>
				<li>
				<input type ="text" class= "form_input" id = "postalcode" name="postalcode" placeholder="Enter your Postal Code">
				</li>
				<li>
				<input type ="text" class= "form_input" id = "phonenumber" name="phonenumber" placeholder="Enter your Phone Number">
				</li>

			</ul>
		</form>
	</div>
	<div class= "row" style = "text-align:center">
		<button class= "btn btn-large btn-success customizebutton">Next Step </button>
		<a href = "/myaccount/companycustomizesecond/{{user.id}}"><button class= "btn btn-large btn-primary">Skip Step</button></a>
		<a href ="/"><button class = "btn btn-large btn-danger"> Complete Registration Later</button></a>
	</div>
{%endblock base_content %}
