{% extends "base.html" %}
{% block add_title %}
<title> Edit Your Account </title>
{% endblock add_title %}
{% block base_content%}
	
		<div class = "row">
			<div class= "heading">
				<h3><span>Edit your Account<span></h2>	
			</div>
		</div>	


		{%if errormessage == None %}
		{%else%}
		<div class= "row" style="text-align:center">
				<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
				</div>
				</div>
				{%endif%}		
				{%if successmessage  %}
		<div class= "row" style="text-align:center">
				<div class="alert alert-success"  tabindex="-1" style ="width:50%;margin: 0 auto;">
						<button type="button" class="close" data-dismiss="alert">×</button><strong>{{successmessage}}</strong> 
				</div>
				</div>
				{%endif%}
				<div class= "span12" style = "text-align:right">
				<a href = "/myaccount/changepassword">
			<button class= "btn btn-primary btn-large" >Change Password</button>
			</a>
		</div>
<form class = "form-horizontal" id= "editaccountform" method = "post" enctype="multipart/form-data">
		<input type = "hidden" id = "isaddpicture" name = "isaddpicture">
	<div  style = "width:40%;float:left">
		{% csrf_token %}
		<ul class="contact-list">
			<li>
			<label> Email </label>
			<h4>{{user.email}}</h4>
			</li>
			<li>
			
			</li>
				
			<li>
			<label>First Name</label>
			<input type = "text" class="form_input" id =  "firstname" name = "firstname"  placeholder="First Name" required value ="{%if firstname%}{{firstname}}{%else%}{{user.first_name}}{%endif%}">
			</li>
			<li>
			<label>Last Name</label>
			<input type = "text" class="form_input" id =  "lastname" name = "lastname"  placeholder="First Name" required value ="{%if lastname %}{{lastname}}{%else%}{{user.last_name}}{%endif%}">
			</li>
			<li>
			<label>City</label>
			<input type = "text" class="form_input" id =  "city" name = "city"  placeholder="City" required value ="{% if city %}{{city}}{%else%}{{userinfo.city}}{%endif%}">
			</li>
			<li>
			<label>Province/State</label>
			<input type = "text" class="form_input" id =  "provincestate" name = "provincestate"  placeholder="Provnice/State"  value ="{% if provincestate %}{{provincestate}}{%else%}{{userinfo.provincestate}}{%endif%}">
			</li>
			<li>
			<label>Country</label>
			<input type = "text" class="form_input" id =  "country" name = "country"  placeholder="Country"  value ="{% if country %}{{country}}{%else%}{{userinfo.country}}{%endif%}">
			</li>
					</ul>
	
</div>
<div  style = "width:40%;float:right">
<ul class="contact-list">
			<li>
			<label> About Me </label>
			<textarea id = "description" style = "width:100%"  name = "description" rows = "3">{%if description %}{{description}}{%else%}{{userinfo.description}}{%endif%}</textarea>
			</li>
				
			<li>
			<label>Twitter Handle</label>
			<input type = "text" class="form_input" id =  "twitterhandle" name = "twitterhandle"  placeholder="Twitter Handle" value ="{%if twitterhandle %}{{twitterhandle}}{%else%}{{userinfo.twitterhandle}}{%endif%}">
			</li>
			<li>
			<label>Instagram Handle</label>
			<input type = "text" class="form_input" id =  "instagramhandle" name = "instagramhandle"  placeholder="Instagram Handle"  value ="{%if instagramhandle %} {{instagramhandle}}{%else%}{{userinfo.instagramhandle}}{%endif%}">
			</li>
			<li>
			<label>Pintrest Handle</label>
			<input type = "text" class="form_input" id =  "pintresthandle" name = "pintresthandle"  placeholder="Pintrest Handle"  value ="{%if pintresthandle %}{{pintresthandle}}{%else%}{{userinfo.pintresthandle}}{%endif%}">
			</li>
			<li>
			<label>Change Profile Picture</label>
			<input type = "file" id = "profilepicture" name = "profilepicture">
			<img src ="{{MEDIA_URL}}{{userinfo.profilepictureurl}}" class ="newprofilechosen" >

		</ul>
	

</div>
<div class = "span12"  style = "margin-left:0px;text-align:center">
	<input type = "submit"  class="btn-success btn-large createaccountbutton" value ="Submit Changes"> 
</div>
	</form>
	
{%endblock base_content %}
