{%extends "base.html"%}
{% block add_title %}
<title> Login </title>
{% endblock add_title %}
{%block base_content%}
<div class = "row">
		<div class= "heading">
			<h3><span>Login<span></h2>	
		</div>
	</div>

{% if errormessage == None%}
{%else%}
<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
	</div>
{% endif %}

<div  style = "width:50%;margin: 0 auto;margin-top:20px">
	<form class = "form-horizontal" id= "loginform" method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="contact-list">
			<li>
			<input type = "text" class="form_input" id = "email" name = "email" placeholder="Your Email" required pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" value ="{{username}}">
			</li>
				
			</li>
			<li >
				<input type = "password"  class="form_input" id = "password" name = "password" placeholder="Password" required>
			</li>
		</ul>
		<div class="loginbuttoncontainer"> 
		<button class= "btn btn-large btn-success loginbutton" >Login</button>
	</form>
</div>
{%endblock base_content%}