{%extends "base.html" %}
{%block add_title%}
<title>Success</title>
{%endblock add_title%}
{% block base_content%}
	
	<div class = "row">
		<div class= "heading">
			<h3><span>You have Created an Account!<span></h2>	
		</div>
	</div>

	<div class="row">
		<h2>Welcome<strong> {{user.first_name}} {{user.last_name}}</strong>! Thank you for registering with us! There are a few more steps needed to complete your profile. But if you would like to do that later, you can visit our site and check out what we are all about</h2>
	</div>	
	<div class="row" style = "text-align:center" >
		<a href ="/myaccount/usercustomize/{{user.id}}"><button class="btn btn-large btn-success">Continue Registration</button></a>
		<a href="/"><button class= "btn btn-primary btn-large">Go To Site</button></a>

	</div>

{%endblock base_content%}
