{% extends "base.html"%}
{% block add_title %}
<title>Customize Your Account</title>
{% endblock add_title %}

{%block base_content %}

<div class= "row">
	<div class= "heading">
		<h3><span>Customize your Account </span></h3>
	</div>
</div>

	{% if errormessage == None %}
	{%else%}
	<div class= "row" style="text-align:center">
		<div class="alert alert-danger"  tabindex="-1" style ="width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
		</div>
	</div>
		{% endif %}	
<div  style = "width:50%;margin: 0 auto;">
		<form class = "form-horizontal" id= "customizeform" method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type ="hidden" id="itemtags" name = "itemtags">
			<input type ="hidden" id="isuploadpicture" name = "isuploadpicture">
			<ul class= "contact-list">
				<li>
				<textarea rows="2" id ="description" placeholder="Tell Us About Yourself" style = "width:554px" name = "description" >{{description}}</textarea>
				</li>
				
				<li>
				<label> Upload your Profile Picture</label>
				<div style="float:left">
					<input type ="file" id ="logoupload" name = "logoupload">
				</div>	
				<img id = "logoimage" name = "logoimage" src = "{{MEDIA_URL}}{{userinfo.profilepictureurl}}" style="max-width:230px;max-height:230px"></img>
				</li>
				
			</ul>
		</div>
	<div class= "row" style = "text-align:center;margin-top:50px">
		<button class= "btn btn-large btn-success customizebutton">Complete Registration </button>
	</div>	

{%endblock base_content%}	

{% block add_script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	    $(document).ready(function() {
	            $("#myTags").tagit({
	            	allowSpaces:true
	            });
	            province  = document.getElementById('province').value;
				$("option[value='"+province+"]'").attr('selected', 'selected');
	         
		        });
		</script>
{%endblock add_script %}

{%block add_styles %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{{STATIC_URL}}css/jquery.tagit.css" rel="stylesheet" type="text/css">
{%endblock add_styles %}
