{% extends "base.html" %}
{% block add_title %}
<title> Signup Now </title>
{% endblock add_title %}
{% block base_content%}
	
		<div class = "row">
			<div class= "heading">
				<h3><span>Create an Account<span></h2>	
			</div>
		</div>	
		<div class= "row" style="text-align:center">
			{% if errormessage %}
	<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="width:100%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>{{errormessage}}</strong> 
	</div>	
		{%endif%}	
	<div class="alert alert-danger" id ="passwordsnotmatching" tabindex="-1" style ="display:none;width:50%;margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert">×</button><strong>Your Passwords don't match! Please try again!</strong> 
	</div>
</div>


	<div  style = "width:50%;margin: 0 auto;">
	<form class = "form-horizontal" id= "createaccountform" method = "post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="contact-list">
			<li>
			<input type = "text" class="form_input" id = "email" name = "email" placeholder="Your Email" required pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" >
			</li>
				
			</li>
			<li >
				<input type = "password"  class="form_input" id = "password" name = "password" placeholder="Password" required>
			</li>
			<li >
				<input type = "password" class="form_input" id = "confirmpassword" name = "confirmpassword"  placeholder="Confirm Password" required>
			</li>
			<li>
				<input type = "text" class="form_input" id =  "firstname" name = "firstname"  placeholder="First Name" required value ="{{firstname}}">
			</li>
			<li>
				<input type = "text" class="form_input" id = "lastname" name = "lastname"  placeholder="Last Name" required value ="{{lastname}}">
			</li>
			<li style= "text-align:center">
				<button class="btn-success btn-large createaccountbutton">Create Account</button>
			</li>
		</ul>
	
	</form>
</div>

{%endblock base_content %}
